{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lines list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for line in lines %}
            <tr>
                <td><a href="{{ path('line_show', { 'id': line.id }) }}">{{ line.id }}</a></td>
                <td>{{ line.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('line_show', { 'id': line.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('line_edit', { 'id': line.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('line_new') }}">Create a new line</a>
        </li>
    </ul>
{% endblock %}
