<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Recursos|Guia de implementación de la política de VIH en el lugar de trabajo{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link type="text/css" href="{{ asset('bundles/oit/css/custom.css') }}" media="screen" rel="stylesheet">
    <link type="text/css" href="{{ asset('bundles/oit/css/bootstrap.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ asset('bundles/oit/css/style.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ asset('bundles/oit/css/override_bootstrap.css') }}" rel="stylesheet">

    <link type="text/css" href="{{ asset('bundles/oit/css/jquery.bxslider.css') }}" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700" rel="stylesheet">

</head>
<body>
    <div class="login" id="main_container">

        <div class="container">
            <div class="col-md-12">
                <div class="logo-index">
                    <h1>
                        <img src="{{ asset('bundles/oit/images/H1-guia_implementacion_política_VIH_lugar_trabajo.svg') }}" alt="Guia de implementación de la política de VIH en el lugar de trabajo">
                    </h1>
                </div>
            </div> 
        </div>
        <div class="container content">
            {% block body %}{% endblock %}
        </div>    
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ asset('bundles/oit/js/bootstrap.min.js') }}" ></script>
<script src="{{ asset('bundles/oit/js/js.js') }}" ></script>

<script src="{{ asset('bundles/oit/js/jquery.bxslider.js') }}" ></script>        


{% block javascripts %}{% endblock %}
<div class="footer loginp">
    <p>Todos los derechos reservados © OIT. {{ "now"|date("Y") }}. <a href="#" >Contáctenos</a>.</p>
</div>
</body>
</html>
