<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Recursos|Guia de implementación de la política de VIH en el lugar de trabajo{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link type="text/css" href="{{ asset('bundles/oit/css/custom.css') }}" media="screen" rel="stylesheet">
    <link type="text/css" href="{{ asset('bundles/oit/css/bootstrap.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ asset('bundles/oit/css/style.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ asset('bundles/oit/css/override_bootstrap.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ asset('bundles/oit/css/jquery.bxslider.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700" rel="stylesheet">
</head>
<body>
    <div {# class="container-fluid" #} id="main_container">
        <div class="container">
            <div class="col-md-6">
                <div class="logo-index">
                    <h1>
                        <img src="{{ asset('bundles/oit/images/H1-guia_implementacion_política_VIH_lugar_trabajo.svg') }}" alt="Guia de implementación de la política de VIH en el lugar de trabajo">
                    </h1>
                </div>
            </div> 
            <div class="col-md-6">
                <span id="username-header" classs="pull-right">{{ app.user.username }} | <a href="{{path("logout")}}" id="logout_link">Cerrar sesión</a></span>
                <nav class="navbar navbar-default navbar-main" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a class="{% if app.request.attributes.get('_route') == 'index' %}active{% endif %}" href="{{ path('index') }}">Programa de VIH</a></li> 
                                <li><a class="{% if app.request.attributes.get('_route') == 'sobre-la-politica' %}active{% endif %}" href="{{path('sobre-la-politica')}}">Sobre la Política</a></li> 
                                <li><a class="{% if app.request.attributes.get('_route') == 'recursos_index' %}active{% endif %}" href="{{ path('recursos_index') }}">Recursos</a></li>    
                            </ul>
                        </div>
                    </div>

                </nav>
            </div>
        </div>
    </div>
{% block body %}{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ asset('bundles/oit/js/bootstrap.min.js') }}" ></script>
<script src="{{ asset('bundles/oit/js/js.js') }}" ></script>

<script src="{{ asset('bundles/oit/js/jquery.bxslider.js') }}" ></script>        
<script>
    $('.modal').on('hidden.bs.modal', function () {
        $(this).find("form")[0].reset();
    });
    
</script>

{% block javascripts %}{% endblock %}
<div class="footer">
    <p>Todos los derechos reservados © OIT. {{ "now"|date("Y") }}. <a href="#" >Contáctenos</a>.</p>
</div>
</body>
</html>
