{%- block choice_widget_expanded -%}
<div {{ block('widget_container_attributes') }}>
    {%- for child in form %}
    <div class="checkbox">
        <label>{{- form_widget(child) -}}{{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}</label>
    </div>
    {% endfor -%}
    </div>
    {%- endblock choice_widget_expanded -%}