{%- block choice_widget_expanded -%}
<div {{ block('widget_container_attributes') }}>
    {%- for child in form %}
    <div class="checkbox">
        <label class="principle_{{loop.index}}">{{- form_widget(child) -}}
        <img src="">
        {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}</label>
    </div>
    {% endfor -%}
    </div>
    {%- endblock choice_widget_expanded -%}