/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 10, 2018, 11:41:15 AM
    Author     : Luis
*/

h2{color: #0000F0}

#implementationguide_form_new .start_date, #implementationguide_form_new .end_date{float: left; width: 50%;}

select, .form-control {
    height: 34px;
    padding: 6px 12px;
    border-radius: 4px;
    margin-right: 5px !important;
    border-radius: 0px !important;
}
