:root {
    --main-bg-color: pink;
    --naranja:#FBB03B;
    --naranja-hover:#F28246;
    --bck-gris:#E6E6E6;
    --azul-oscuro:#004F83;
    --azul-intermedio:#0071BC;
    --azul-claro:#29ABE2;
    --blanco:#fff;
    --gris-borde:#ccc;
    --title-datos:#77d84f;
    --btn-new:#00bbbb;
}
a{
    color: inherit;
}
a:focus,a:visited,a:active{
    color: #333;
}
ul li{
    margin-bottom: 10px;
}
.no-padding{padding: 0px 0px;}
body{
    color: #4D4D4D;
    /*font-size: 14px;*/
    font-family: 'Poppins', sans-serif;
}
h1{
    margin:0;
}
h2{
    padding-bottom: 15px;
}
h4 {
    text-transform: uppercase;
    color: var(--azul-oscuro);
}
.block-politica{
    background-color: var(--azul-intermedio);
}
.block-politica{
    color: var(--blanco);
}
.bck-block-politica, .proceso-politica, .marcoLegal-politica, .iniciar-guia {
    padding: 45px 0;
    overflow: hidden;
}
.iniciar-guia{
    text-align: center;
}
.iniciar-guia h2{
    color: var(--azul-claro);	
}
.iniciar-guia a{
    padding: 10px 25px;
    background-color: #22B573;
    color: var(--blanco);
    border-radius: 5px;
    text-transform: uppercase;
}
.iniciar-guia a:hover{
    background-color: #1A8856;
    text-decoration: none;
}

.bck-proceso-politica, .bck-objetivos-politica{
    background-color: var(--bck-gris);
}
.bck-objetivos-politica {
    padding-bottom: 25px;
}
.proceso-politica h2,.bck-objetivos-politica h2{
    color: var(--azul-intermedio);
}
.btn-box-d{
    text-align: center;
}
.bck-content-proceso {
    background-color: var(--blanco);
    overflow: hidden;
    padding: 25px 0;
    text-align: center;
}
.bck-content-proceso .col-md-4 p:nth-child(1){
    font-weight: bold;
}
.bck-content-proceso .col-md-4 p:nth-child(3){
    color: var(--gris-borde);
    font-weight: bold;
}
.bck-content-proceso img{
    margin: auto;
    display: block;
    padding: 15px 0;
}
.marcoLegal-politica img{
    margin: auto;
    display: block;
    width: 50%;
}
span.p-verde{
    color: #009969;
}
span.p-morado{
    color: #A445A2;
}
span.p-naranja{
    color: #F18048;
}
a.btn-download {
    background: var(--naranja)/* url(../images/ico-download.svg) no-repeat right*/;
    padding: 8px 15px;
    color: #fff;
    position: relative;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.8em;
}
a.btn-download:after{
    content: '';
    background-image: url(../images/ico-download.svg);
    /* position: absolute; */
    padding: 0px 0px;
    background-repeat: no-repeat;
    color: black;
    width: 9px;
    height: 12px;
    /* margin-top: 14px; */
    display: inline-block;
    margin: 0px 0 0 5px;
}
a.btn-download:hover{
    background-color: var(--naranja-hover);
    text-decoration: none;
} 
/*ul li{
        color: var(--azul-intermedio);
}
ul{
        color: var(--naranja-hover);
}*/
.marcoLegal-politica li {
    color: var(--azul-claro);
    list-style-type: none;
    font-weight: 500;
    margin: 7px 0;
}
.marcoLegal-politica li:before {
    content: '\2022';
    color: var(--naranja-hover);
    padding-right: 0.5em;
    font-size: 1.1em;

}
.nav-pills > li + li {
    margin-left: 10px;
}
.nav-pills > li > a {
    padding:10px;
    background-color: var(--azul-oscuro);
    color: var(--blanco);
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color:var(--azul-oscuro);
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: var(--azul-oscuro);
    background-color: var(--blanco);
    border-radius: 5px 5px 0 0;
    padding: 10px 10px 16px 10px;
}
.tab-pane {
    background-color: #fff;
    overflow: hidden;
    padding: 25px 0;
    min-height: 302px;
}




.objetivos-politica .box-obj-tab .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 0%;
    left: 0%;
    /* padding: 0 15px; */
    /* transform: translate(-50%, -50%); */
    -ms-transform: translate(-50%, -50%);
    /*text-align: center;*/
    /* height: max-content; */
}
.box-obj-tab{
    width: 20%;
    float: left;
    position: relative;
    padding: 0 1px;
    cursor: pointer;
}

/*.box-obj-tab:hover .image {
  opacity: 0.3;
}*/

.box-obj-tab:hover .middle {
    opacity: 1;
}

.text1 {
    background-color: rgba(255, 0, 0, 0.85);
    color: white;
    font-size: 16px;
    padding: 10px 10px;
    min-height: 298px;
}
.text2 {
    background-color: rgba(18, 102, 145, 0.85);
    color: white;
    font-size: 16px;
    padding: 10px 10px;
    min-height: 298px;
}
.text3 {
    background-color: rgba(170, 108, 26, 0.85);
    color: white;
    font-size: 16px;
    padding: 10px 10px;
    min-height: 298px;
}
.text4 {
    background-color: rgba(23, 112, 80, 0.85);
    color: white;
    font-size: 16px;
    padding: 10px 10px;
    min-height: 298px;
}
.text5 {
    background-color: rgba(95, 42, 99, 0.85);
    color: white;
    font-size: 16px;
    padding: 10px 10px;
    min-height: 298px;
}
#t2b{
    padding-right: 10px;
    padding-left: 10px;
}

.box-obj {
    /*padding: 15px;*/
    min-height: 98px;
    overflow: hidden;
    /* margin: 5px 13px; */
    /* border-bottom: 2px dashed; */
}
.box-obj-line {
    /* margin: 5px 13px; */
    border-bottom: 2px dashed var(--gris-borde);
    overflow: hidden;
    padding: 15px 0;
}
#t4a img{
    margin:auto;
    display: block;
}
#t4a li{
    margin: 5px;
    padding: 5px 15px;
    font-weight: 500;
}
#t4a li:nth-child(odd) {
    background-color:rgba(41, 171, 226, 0.3);
}
#t4a li:nth-child(even) {
    background-color: rgba(41, 171, 226, 0.1);
}
h2.title-recursos{
    color: var(--azul-claro);
}
.tilte-cat-box {
    background-color: #cecece;
    min-height: 89px;
}


.img-cat1{
    background-color: rgba(249, 179, 58, 0.85)
}
.img-cat2{
    background-color: rgba(46, 150, 214, 0.85);
}
.img-cat3{
    background-color: rgba(159, 83, 161, 0.85);
}
.img-cat4{
    background-color: rgba(230, 62, 44, 0.85);
}
.img-cat5{
    background-color: rgba(0, 169, 157, 0.85);
}
.img-cat6{
    background-color: rgba(242, 130, 70, 0.85);
}
.img-cat7{
    background-color: rgba(30, 149, 107, 0.85);
}
.page-strategic-line #buttons_objetives {margin-bottom: 15px;}

.page-strategic-line #buttons_objetives button {    
    background: #fff;
    border: var(--azul-claro) 1px solid;
    border-radius: 5px;
    font-size: 1.1em;
    color: var(--azul-intermedio);
    text-transform: uppercase;
    padding: 3px 15px;
    font-weight: 500;
    margin-right: 5px;
}
.page-strategic-line #buttons_objetives button.active{
    border: var(--azul-intermedio) 1px solid;
    background-color: var(--azul-intermedio);
    border-radius: 5px;
    font-size: 1.1em;
    color: #fff;
}
.page-strategic-line #info_objetives .objetive_cont {margin-bottom: 15px; overflow: hidden}
.page-strategic-line #info_objetives .image img{width: 100%}
.page-strategic-line #info_objetives .title { background-color: var(--bck-gris); padding: 10px; font-weight: bold}
.eq-cell{
    display: flex;
}
.tilte-cat-box p{

    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
}
.recu-page .eq-cell{
    margin-bottom: 15px;
}
.recu-page .eq-cell img{
    margin: auto;
    display: block;
}
.ul-li ul{
    list-style: none;
    padding:0;
    margin: 0;
}
.ul-li ul li a{
    color: #fff;
    display: block;
    padding:15px;
    border-radius: 5px;
}
.ul-li ul li:nth-child(1) a{
    background-color: rgba(249, 179, 58, 1);
}
.ul-li ul li:nth-child(2) a{
    background-color: rgba(46, 150, 214, 1);
}
.ul-li ul li:nth-child(3) a{
    background-color: rgba(159, 83, 161, 1);
}
.ul-li ul li:nth-child(4) a{
    background-color: rgba(230, 62, 44, 1);
}
.ul-li ul li:nth-child(5) a{
    background-color: rgba(0, 169, 157, 1);
}
.ul-li ul li:nth-child(6) a{
    background-color: rgba(242, 130, 70, 1);
}
.ul-li ul li:nth-child(7) a{
    background-color: rgba(30, 149, 107, 1);
}
.footer{
    background-color: #909090;
    color: #fff;
}
.footer p{
    margin: 0;
    text-align: center;
    padding: 15px;
}
.footer a:hover{
    color: #fff;
}
.bck-slider-home{
    background-color: var(--azul-intermedio);
    padding: 30px 0 0 0;
}
.bck-slider-home .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: transparent;
}
.bck-slider-home .bx-wrapper p,.bck-carta p.txt-carta-front {
    color: #fff;
}
.bck-slider-home .bx-wrapper{
    margin-bottom: 0px;
}
.bck-slider-home .bx-wrapper .bx-pager,.bck-slider-home .bx-wrapper .bx-controls-auto {
    position: relative !important;
    bottom: 0px !important;
    width: 100%;
    padding-bottom: 30px !important;
}
.ico-carta img{
    width: 15%;
    float: right;
}
/*.bx-viewport{
    height: auto !important;
}*/
.bck-slider-home .bx-wrapper .bx-pager.bx-default-pager a{
    width: 0px;
    height: 0px;
    text-indent: inherit;
    display: inline;
    padding: 5px 9px;
    border-radius: 50%;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-weight: bold;
}
.bck-slider-home .bx-wrapper .bx-pager-item{
    font-size: 1.2em;
}
.bck-slider-home .bx-wrapper .bx-pager.bx-default-pager a:hover,.bck-slider-home .bx-wrapper .bx-pager.bx-default-pager a.active,.bck-slider-home .bx-wrapper .bx-pager.bx-default-pager a:focus{
    background: #fff;
    color: var(--azul-intermedio);
    text-decoration:none;
}
.bck-carta{
    background-color: var(--azul-oscuro);
    padding: 25px;
}
.bt-modal{
    color: #FBB03B;

}
.bt-modal:hover{
    color: #FBB03B;
    cursor: pointer;
}
.btn-close-modal{
    color: #fff;
    text-align: right;
    display: block;
    font-size: 1.3em;
}.btn-close-modal:hover{
    color: #fff!important;
    cursor: pointer;
}
.bck-logos-home{
    background-color: var(--bck-gris);
    text-align: center;
}
.bck-logos-home img{
    margin: 0 45px; 
}
h3.title-table{
    font-size: 1em;
    color: var(--azul-intermedio);
    text-transform: uppercase;
}
tr th{
    background-color: var(--azul-intermedio);
    color: #fff;
    font-weight: 300;
}
tr{

    padding: 0 5px;
}
.objetivos-politica ul li {
    margin-bottom: 0px;
}
/*header*/

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar {

    margin-bottom: 0px;
    border:none;
}

#main_container {
    padding: 15px 0 0 0;
    background-color: var(--azul-oscuro);
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    padding: 10px 10px !important;
    background-color: #2a365a;
    border-radius: 5px;
    border-bottom: 13px solid var(--azul-oscuro);
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #2a365a;

}
.navbar-default .navbar-nav > li{
    margin: 0px 10px !important;

}
.logo-index img{
    width: 50%;
    max-width: 300px;
}
.objetivos-politica ul.nav {
    position: relative; 
}
.bck-gris-guide{
    background-color: var(--bck-gris);
    padding: 35px;
}
.bck-gris-guide label{
    text-align: right;
}
.obj-guide-box{
    background-color: var(--azul-intermedio);
    padding: 15px;
    overflow: hidden;
    margin-bottom: 25px;
}
.obj-guide{
    overflow: hidden;
    background-color: var(--azul-intermedio);


}
.start_date,.end_date{
    text-transform: uppercase;
}

.obj-guide .icon{
    border-right: 2px solid var(--azul-oscuro);
    min-height: 100px;
    padding-top: 10px;
}

.obj-guide .icon p{
    color: #fff;
    text-transform: uppercase;
    text-align: center;

}
.obj-guide .text p{
    color: #fff;

}
.obj-guide .text{
    padding-top: 20px;
}
.obj-guide img{
    margin:auto;
    display: block;
}
h2.title-blue-guide {
    color: var(--azul-claro);
}
h3{
    color: var(--title-datos);
    text-transform: uppercase;
    position: relative;
}
h3.title-datos{
    margin-left: 33px;
}
h3.title-datos:before {
    content: '';
    background-image: url(../images/ico-actividades.svg);
    position: absolute;
    background-repeat: no-repeat;
    color: black;
    width: 30px;
    height: 30px;

    display: block;
    margin: 0px 0 0 -33px;
    top: -3px;
}
.btn-new {
    border: none;
    background-color: var(--btn-new);
    border-radius: 5px;
    padding: 4px 20px;
    color: #fff;
    margin-bottom: 10px;
}
.pira-img img{
    width: 100%;
    height: auto;
}
.pira-img{
    margin-bottom: 25px;
}
.menu-izq-guide {padding-top: 25px;}
.menu-izq-guide ol li {
    padding: 10px 0px;
    color: var(--gris-borde);
}

.menu-izq-guide ol {
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
}
.menu-izq-guide li {
    display: inline-block;
    margin-bottom: .5em;
    margin-left: 2em;
}
.menu-izq-guide li::before {
    display: inline-block;
    content: counter(item);
    counter-increment: item;
    width: 22px;
    border: 1px solid ;
    /* height: 21px; */
    padding: 0px 6px;
    border-radius: 50%;
    margin-right: 5px;
    text-align: center;
}

.menu-izq-guide li:after {
    position: absolute;
    width: 1px;
    height: 28px;
    content: "";
    background-color: var(--gris-borde);
    display: block;
    left: 53px;
}

.menu-izq-guide li:last-child:after {content: none}

li.check-guide{
    color: var(--azul-oscuro) !important;
}
li.check-guide:before{
    color: var(--azul-claro);
}
.menu-izq-guide li.active::before{
    background-color: var(--azul-claro);
    color: #fff;
}
.menu-izq-guide li.active{
    color: var(--azul-claro)
}

a.btn-continue, .direction_btns input {
    /* display: block; */
    text-align: center;
    background-color: #22B573;
    padding: 5px 14px;
    border-radius: 5px;
    color: #fff !important;
    margin: auto;
    display: block;
    border: none;
}
a.btn-save_exit {
    text-align: right;
    display: block;
    width: 152px;
    float: right;
}
.direction_btns a {
    color: #aaa;
}
.modal-header h4{
    color: #fff;
}

.modal-body label.control-label {
    font-weight: 400;
    color: var(--azul-intermedio);
    margin-top: 10px;
}

.modal-footer input{
    border: none;
    background-color: var(--btn-new);
    border-radius: 5px;
    padding: 4px 20px;
    color: #fff;
    margin-bottom: 10px;
}

.modal-footer button{
    border: none;
    color: #aaa;
}

.footer {
    margin-top: 40px;
}


.modal-header{color: #fff; background: var(--azul-oscuro); padding: 10px 15px;}
.modal-header h4{font-weight: 200; font-size: 1.1em; text-transform: uppercase; }

.modal-dialog {
    width: 85%;

}
ul.nav{
    position: absolute;
    right: 0;
    bottom: 0;
}
ul.nav li a.active{
    background-color: var(--azul-intermedio);
    border-bottom: 13px solid var(--azul-intermedio);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
ul.nav li a.active:hover{
    background-color: var(--azul-intermedio);
    border-bottom: 13px solid var(--azul-intermedio);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
body{

    font-size: 26px;

}
.bck-logos-home {
    padding: 1% 0;
}

button {
    background: transparent;
    border: none;
}

.login{
    background: url(../images/bck-ingreso.jpg);
    height: 95vh;
    background-size: cover;
}

.login .content{
    height: 70vh;
    position: relative;
}
.login .content .form-content{
    background-color: rgba(255, 255, 255, 0.7);
    width: 500px;
    margin: auto;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    height: 240px;
}
.login .content .form-content h2{
    background-color: var(--azul-claro);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0pc;
    padding: 10px;
}
.login .content form{padding: 0px 50px 10px;}
.login .content form label{display: block}
.login .content form input{
    padding: 0px 5px;
        display: block;
    width: 100%;
    height: 35px;
    border: none;
}
.login .content form button{
    background: var(--title-datos);
    color: #fff;
    padding: 5px 10px;
    margin: auto;
    display: block;
    margin-top: 10px;
    border-radius: 5px;
    text-transform: uppercase;
}
#logout_link{position: relative; z-index: 99; color: #fff}
.footer.loginp{margin-top: 0px;}


#oitbundle_implementationguide_startDate_day, #oitbundle_implementationguide_endDate_day{display: none}

#md_add_strategicline #oitbundle_strategicline_objetive{display: none;}
.form-group-result{ padding: 10px; background: #eee; }
.form-group-result label{color: #000;}
/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .bx-viewport {
        height: 250px !important;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .navbar-collapse.collapse{
        display: flex !important;
    }
    .bx-viewport {
        height: 250px!important;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    body{

        font-size: 14px;

    }
    .tilte-cat-box p {
        line-height: 89px;
    }
    .menu-izq-guide li {
        display: block;

    }
    .bx-viewport {
        height: auto!important;
    }
    .recu-page{
        display: flex;
    }
    .recu-page .row{
        margin: 0 auto 20px 0;
    }
    .recu-page .col-md-9{
        border-right: 1px solid #cecece;
        padding-right: 5px;
    }
    .caja-menu{
        position: relative;
    }
    .ul-li{
        position: fixed;
    }
    .ul-li li{
        width: 50%;
    }
    .bck-cuadro {
        padding: 3% 0;
    }

    /*ul.nav{
        position: absolute;
        right: 0;
        bottom: 0;
    }
    ul.nav li a.active{
        background-color: var(--azul-intermedio);
        border-bottom: 13px solid var(--azul-intermedio);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    ul.nav li a.active:hover{
        background-color: var(--azul-intermedio);
        border-bottom: 13px solid var(--azul-intermedio);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }*/

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .bx-viewport {
        height: auto!important;
    }

}

