{% extends 'base.html.twig' %}

{% block title %}Sobre la Política | |Guia de implementación de la política de VIH en el lugar de trabajo{% endblock %}

{% block body %}

    <div class="block-politica">
        {# <div class=""> #}
        <div class="container bck-block-politica">
            <div class="col-md-12">
                <div class="col-md-2">
                    <img src="{{ asset('bundles/oit/images/img-politica.svg') }}" alt="Sobre la politica-Guia de implementación de la política de VIH en el lugar de trabajo">
                </div>

                <div class="col-md-10">
                    <p>Desde febrero de 2012 contamos con una Política de VIH en el Lugar de Trabajo. Ella es el eje sobre el que gira esta Guía y las acciones que orientarán nuestros programas de VIH. Su difusión es clave para poder trasladar a cada uno de los hombres y mujeres que forman parte de esta agroindustria el reto conjunto de trabajar en favor de la prevención del VIH y la atención y el apoyo a las personas con VIH y sida.</p>
                </div>
            </div>
            <div class="col-md-12 btn-box-d">
                <a class="btn-download" href="{{ asset('bundles/documents/images/falta.pdf') }}">Descargar</a>
            </div>
        </div>
        {# </div>  #}
    </div>

    <div class="bck-proceso-politica">
        <div class="container proceso-politica">
            <h2>¿Cómo se evaluará el progreso de la Política?</h2>
            <div class="bck-content-proceso">
                <div class="col-md-4">
                    <p>EVALUACIÓN INTERNA</p>
                    <img src="{{ asset('bundles/oit/images/img-progreso-calendario-1.svg') }}" alt="Sobre la politica-Guia de implementación de la política de VIH en el lugar de trabajo">
                    <p>cada <span class="p-verde">6 meses</span></p>
                </div>
                <div class="col-md-4">
                    <p>EVALUACIÓN EXTERNA</p>
                    <img src="{{ asset('bundles/oit/images/img-progreso-calendario-2.svg') }}" alt="Sobre la politica-Guia de implementación de la política de VIH en el lugar de trabajo">
                    <p>cada <span class="p-morado">año</span></p>
                </div>
                <div class="col-md-4">
                    <p>EVALUACIÓN DE LA POLÍTICA</p>
                    <img src="{{ asset('bundles/oit/images/img-progreso-calendario-3.svg') }}" alt="Sobre la politica-Guia de implementación de la política de VIH en el lugar de trabajo">
                    <p>cada <span class="p-naranja">año</span> o cuando <span class="p-naranja">ocurran cambios en el entorno</span> que así lo exijan.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bck-marcoLegal-politica">
        <div class="container">
            <h2>¿Cuál es el marco legal en el que se apoya esta Política?</h2>
            <div class="marcoLegal-politica">
                <div class="col-md-5">
                    <img src="{{ asset('bundles/oit/images/img-marco-legal.svg') }}" alt="Sobre la politica-Guia de implementación de la política de VIH en el lugar de trabajo">
                </div>
                <div class="col-md-7">
                    <ul>
                        <li>Constitución Política de la República de Guatemala</li>
                        <li>Decreto 90-97, Código de Salud</li>
                        <li>Código de Trabajo</li>
                        <li>Decreto 27-2000, Ley de Sida</li>
                        <li>Código penal</li>
                        <li>Convenio 111 OIT</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bck-objetivos-politica">
        <div class="container">
            <h2>Objetivos y principios en los que debemos basar la <br> implementación de la Política</h2>
            <div class="objetivos-politica">
                <ul  class="nav nav-pills">
                    <li class="active"><a  href="#1b" data-toggle="tab">Función</a>
                    </li>
                    <li><a href="#t2b" data-toggle="tab">Objetivos</a>
                    </li>
                    <li><a href="#3b" data-toggle="tab">Principios</a>
                    </li>
                    <li><a href="#t4a" data-toggle="tab">Líneas estratégicas</a>
                    </li>
                </ul>

                <div class="tab-content clearfix">
                    <div class="tab-pane active" id="1b">
                        <div class="col-md-5">
                            <p>Contribuir, junto al Gobierno y con el apoyo de todos los trabajadores y trabajadoras, a detener y reducir la epidemia del VIH y sus efectos. Guatemala, Escuintla, Suchitepéquez, Retalhuleu y Santa Rosa, los departamentos donde se centra la actividad de nuestra agroindustria azucarera, albergan cerca del 50% de los casos de VIH registrados en todo país. La vulnerabilidad ante el riesgo de infección y transmisión del VIH de quienes conformamos este sector nos evidencia la necesidad, y la oportunidad, de actuar ante el VIH.</p>
                        </div>
                        <div class="col-md-7">
                            <img src="{{ asset('bundles/oit/images/img-funcion.svg') }}" alt="Sobre la politica-Guia de implementación de la política de VIH en el lugar de trabajo">
                        </div>
                    </div>
                    <div class="tab-pane" id="t2b">

                        {% for objetive in objetives %}

                            <div class="box-obj-tab">
                                <img src="{{ objetive.image|default("no-image") }}" class="image" alt="Sobre la politica-Guia de implementación de la política de VIH en el lugar de trabajo">
                                <div class="middle">
                                    <div class="text{{ loop.index }}">
                                        {{ objetive.title }}	
                                    </div>
                                </div>
                            </div>

                        {% endfor %}


                        {# 							<div class="box-obj-tab">
                                                                                        <img src="{{ asset('bundles/oit/images/img-objetivos-item2.svg') }}" class="image">
                                                                                        <div class="middle">
                                                                                                <div class="text2">Desarrollar programas de educación y prevención de VIH con la población laboral y sus familias</div>
                                                                                        </div>
                                                                                </div>
                                                                                <div class="box-obj-tab">
                                                                                        <img src="{{ asset('bundles/oit/images/img-objetivos-item3.svg') }}" class="image">
                                                                                        <div class="middle">
                                                                                                <div class="text3">Establecer la metodología de orientación y apoyo a los colaboradores con VIH. </div>
                                                                                        </div>
                                                                                </div>
                                                                                <div class="box-obj-tab">
                                                                                        <img src="{{ asset('bundles/oit/images/img-objetivos-item4.svg') }}" class="image">
                                                                                        <div class="middle">
                                                                                                <div class="text4">Firma de acuerdos y/o alianzas con otros actores locales de salud, públicos y privados para dar una respuesta integrada a las necesidades que plantea el VIH </div>
                                                                                        </div>
                                                                                </div>
                                                                                <div class="box-obj-tab">
                                                                                        <img src="{{ asset('bundles/oit/images/img-objetivos-item5.svg') }}" class="image">
                                                                                        <div class="middle">
                                                                                                <div class="text5">Fomentar y promover que cada individuo asuma su responsabilidad y compromiso en la prevención, diagnóstico y cuidado con el VIH para consigo y su familia.</div>
                                                                                        </div>
                                                                                </div> #}
                    </div>
                    <div class="tab-pane" id="3b">
                        {% for principle in principles %}
                            <div class="col-md-6 box-obj">
                                <div class="box-obj-line">
                                    <div class="col-md-2">
                                        <img src="{{ principle.icon|default("no-image") }}" class="image" alt="Sobre la politica-Guia de implementación de la política de VIH en el lugar de trabajo">
                                    </div>
                                    <div class="col-md-10">
                                        {{ principle.description }}	
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="tab-pane" id="t4a">
                        <div class="col-md-5">
                            <p>Un programa de VIH en el lugar de trabajo debe contemplar líneas estratégicas en tres temas fundamentales: prevención del VIH, y asistencia, apoyo y tratamiento, y protección de los derechos. Aquí se presentan 12 líneas estratégicas específicas que han sido recopiladas de diferentes manuales y programas de VIH en el lugar de trabajo.</p>
                            <img src="{{ asset('bundles/oit/images/img-linea-estrategica.svg') }}" alt="Sobre la politica-Guia de implementación de la política de VIH en el lugar de trabajo">
                        </div>
                        <div class="col-md-7">
                            <ul style="list-style: none;">
                                {% for lines in lines %}
                                    <li>{{lines.id}}- {{ lines.description }}</li>
                                    {% endfor %}
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="iniciar-guia">
        <h2>Utilice la Guía de Implementación para crear su estrategia</h2>
        <a href="{{ path("guias-de-implementacion_new") }}">Iniciar ></a>
    </div>

</div>






{% endblock %}

