{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="col-lg-4 menu-izq-guide">
            <ol>
                <li class="{% if app.request.attributes.get('_route') == 'guias-de-implementacion_new' %}active{% endif %}">Información general</li>
                <li>Conformación del equipo</li>
                <li>Preparando el terreno</li>
                <li>Públicos meta</li>
                <li>Aliados</li>
                <li>Nuestro programa</li>
                <li class="active">Finalizar</li>
            </ol>
        </div>
        <div class="col-lg-8">
            <h2 class="title-blue-guide">7. Finalizar</h2>
            <p>Ha completado la Estrategia para la Implementación de la Política de VIH y la información agregada ha sido guardada. Para finalizar la estrategia haga clic en el botón Finalizar. Si desea hacer cambios antes de finalizar puede devolverse a la sección que desee.</p>
            <form action="{{ path("complete_guide") }}" id="form_complete" method="POST">
                <input type="hidden" value="{{id}}" name="guide_id">
            </form>

            <hr>
            <div class="direction_btns">
                <div class="col-lg-4">
                <a class="btn-back" href="{{path('lineas-estrategicas_index', {"id": id})}}">< REGRESAR</a>
                </div>
                <div class="col-lg-4">
                <input form="form_complete" type="submit" class="continue" value="FINALIZAR Y GENERAR REPORTE >"/>
                </div>
                <div class="col-lg-4">
                <a class="btn-save_exit" href="{{path('index')}}">CONTINUAR DÉSPUES > </a>
                </div>
            </div>


        </div> {# fin col-md-8 #}
    </div>
</div>

{% endblock %}
