{% extends 'base.html.twig' %}

{% block title %}Programa de VIH|Guia de implementación de la política de VIH en el lugar de trabajo{% endblock %}

{% block body %}

    <div class="bck-slider-home">
        <div class="bxslider">     
            <div>
                <div class="container">
                    <div class="col-md-7 col-xs-7 col-sm-7">
                        <br>
                        <p style="font-size:1.2em">¿En que consiste esta Guía?</p>
                        <p>La presente es una guía que apoya la creación de un programa para la implementación de la Política de VIH en el lugar de trabajo.</p>
                        <p>Está diseñada para contribuir a los esfuerzos del país en la respuesta ante el VIH y a prevenir y atender el VIH en nuestras empresas del sector azucarero, por medio del desarrollo de programas de información, sensibilización, educación, formación, asistencia y apoyo.</p>
                    </div>
                    <div class="col-md-5 col-xs-5 col-sm-5">
                        <img src="{{ asset('bundles/oit/images/img-sobre-politica.svg') }}" alt="Programa de VIH">
                    </div>
                </div>
            </div>
            <div>
                <div class="container">
                    <div class="col-md-7 col-xs-7 col-sm-7">
                        <br>
                        <p style="font-size:1.2em">¿En que consiste esta Guía?</p>
                        <p>La presente es una guía que apoya la creación de un programa para la implementación de la Política de VIH en el lugar de trabajo.</p>
                        <p>Está diseñada para contribuir a los esfuerzos del país en la respuesta ante el VIH y a prevenir y atender el VIH en nuestras empresas del sector azucarero, por medio del desarrollo de programas de información, sensibilización, educación, formación, asistencia y apoyo.</p>
                    </div>
                    <div class="col-md-5 col-xs-5 col-sm-5">
                        <img src="{{ asset('bundles/oit/images/img-sobre-politica.svg') }}" alt="Programa de VIH">
                    </div>
                </div>
            </div>
            <div>
                <div class="container">
                    <div class="col-md-7 col-xs-7 col-sm-7">
                        <br>
                        <p style="font-size:1.2em">¿En que consiste esta Guía?</p>
                        <p>La presente es una guía que apoya la creación de un programa para la implementación de la Política de VIH en el lugar de trabajo.</p>
                        <p>Está diseñada para contribuir a los esfuerzos del país en la respuesta ante el VIH y a prevenir y atender el VIH en nuestras empresas del sector azucarero, por medio del desarrollo de programas de información, sensibilización, educación, formación, asistencia y apoyo.</p>
                    </div>
                    <div class="col-md-5 col-xs-5 col-sm-5">
                        <img src="{{ asset('bundles/oit/images/img-sobre-politica.svg') }}" alt="Programa de VIH">
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <div class="bck-carta">
        <div class="container">
            <div class="col-md-2 ico-carta">
                <img src="{{ asset('bundles/oit/images/inicio-ico-carta.svg') }}" alt="Programa de VIH">
            </div>
            <div class="col-md-10 no-padding">
                <p style="font-size:1.2em" class="txt-carta-front">Carta de compromiso hacia la respuesta ante el VIH y el cumplimiento con la legalidad</p>
                <p class="txt-carta-front">En febrero de 2012 todos los ingenios y organizaciones de apoyo del sector azucarero en Guatemala aprobamos la Política de VIH en el Lugar de Trabajo.</p>
                <!-- Button trigger modal -->
                <button  class="bt-modal" data-toggle="modal" data-target="#modal">
                    Leer carta >
                </button>

                <!-- Modal -->
                <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">

                        <a type="button" class="btn-close-modal" data-dismiss="modal">X</a>
                        <div class="modal-content">

                            <div class="modal-body">
                                <h2 class="title-recursos" style="font-size:1.2em">Carta de compromiso hacia la respuesta ante el VIH y el cumplimiento con la legalida</h2>

                                <p>En febrero de 2012 todos los ingenios y organizaciones de apoyo del sector azucarero en Guatemala aprobamos la Política de VIH en el Lugar de Trabajo. Esta Política, dirigida a contribuir a los esfuerzos del país en la respuesta ante el VIH y a prevenir y atender el VIH en nuestras empresas, es la materia prima a partir de la cual vamos a liderar el desarrollo de programas de información, sensibilización, educación, formación, asistencia y apoyo. </p>
                                <p>
                                    El VIH nos afecta a todas y a todos, como guatemaltecos y como trabajadores de ASAZGUA. Los departamentos donde se ubican nuestros ingenios son las más afectadas por el VIH y el sida. Es nuestra responsabilidad mirar de frente al VIH para evitar su transmisión, para integrar sin estigma ni discriminación a las personas con VIH o afectadas por el VIH y para reducir el impacto económico que la epidemia causa en nuestro sector. 
                                </p>
                                <p>
                                    El Reglamento de Salud y Seguridad Ocupacional 229-2014, que entrará en vigor en 2015, se suma a las normas, códigos y políticas nacionales que marcan nuestro actuar empresarial con apego a la Ley y que señalan de manera contundente nuestra labor respecto al VIH. 
                                </p>
                                <p>
                                    Como directores y gerentes de los trece ingenios y las cuatro organizaciones de apoyo de ASAZGUA, queremos trasladar nuestro apoyo a los equipos encargados de la implementación de la Política de VIH en el Lugar de Trabajo, a quienes va dirigida esta Guía: coordinadores de Responsabilidad Social Empresarial, gerentes de Recursos Humanos, responsables de Salud y Seguridad Ocupacional, responsables de Clínica, oficiales de Comunicación. Como equipo, trabajando de manera coordinada, ustedes liderarán la consecución de nuevos objetivos en torno al VIH. 
                                </p>
                                <p>
                                    La herramienta que tienen a su disposición ha sido desarrollada por ASAZGUA, con el apoyo de OIT y la colaboración de ONUSIDA, para facilitar y orientar la creación e implementación de programas de VIH. Un viaje por este recorrido interactivo nos ayudará a definir acciones oportunas e integrales que, con apego a las leyes y normativas nacionales e internacionales, combinen el cumplimiento de los principios de nuestra Política de VIH con las prioridades, estructuras y dinámicas organizacionales de cada una de nuestras empresas. 
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bck-cuadro container">
        <h2 class="title-recursos" style="font-size:1.2em">Programa de VIH</h2>

        <h3 class="title-table">HISTORIAL DE PROGRAMAS</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Periodo</th>
                    <th>Creada por</th>
                    <th>Estatus</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% if ImplementationGuides|length > 0  %}

                    {% for ImplementationGuide in ImplementationGuides %}
                        <tr>
                            <td>{{ ImplementationGuide.startDate|localizeddate('none', 'none', 'es_CR', null, "MMMM Y")|capitalize }} - {{ ImplementationGuide.endDate|localizeddate('none', 'none', 'es_CR', null, "MMMM Y")|capitalize }}</td>
                            <td>
                                {{ ImplementationGuide.personInCharge|default("sin dato") }}
                            </td>
                            <td>
                                {{ status[ImplementationGuide.status] }}
                            </td>
                            <td>
                                {% if ImplementationGuide.status != 2 %}
                                    <a class="edit_guide" href="{{path("equipos_index", {"id":ImplementationGuide.id})}}"></a>
                                {% endif %}
                                {% if ImplementationGuide.status != 1 %}
                                    <a class="export_guide" href="{{path("export_implementation_guide", {"id":ImplementationGuide.id})}}" target="_blank"></a>
                                {% endif %}
                                
                            </td>
                        </tr>
                    {% endfor %}
                {% else  %}
                    <tr>
                        <td colspan="4">No hay programas disponibles</td>
                    </tr>
                {% endif  %} 
            </tbody>
        </table>

    </div>
    <div class="bck-logos-home">
        <div class="logos-home">
            <img src="{{ asset('bundles/oit/images/logo-asazgua.png') }}" alt="Logo Azucar de guatemala">
            <img src="{{ asset('bundles/oit/images/logo-oit.png') }}" alt="OIT">
        </div>
    </div>
{% endblock %}
