{% extends 'base.html.twig' %}

{% block title %}Recursos | Política de VIH en el Lugar de Trabajo{% endblock %}

	{% block body %}
		<div class="container">
			<h2 class="title-recursos">Recursos malo</h2>
		</div>

	{% endblock %}