{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="col-lg-4 menu-izq-guide">
            <ol>
                <li class="check-guide">Información general</li>
                <li class="check-guide">Conformación del equipo</li>
                {# <li>Preparando el terreno</li> #}
                 {# {{ app.request.attributes.get('_route') }}  #}
                <li class="{% if app.request.attributes.get('_route') == 'mejoras_list' %}active{% endif %}">Preparando el terreno</li> 
                <li>Públicos meta</li>
                <li>Aliados</li>
                <li>Nuestro programa</li>
                <li>Finalizar</li>
            </ol>
        </div>
        <div class="col-lg-8">
            <h2 class="title-blue-guide">3. Preparando el terreno</h2>
            {% if improvementPoints|length > 0%}
                <h4>Oportunidades de Mejora</h4>
                <ul>
                    {% for improvementPoint in improvementPoints %}
                        <li>{{improvementPoint.improvement.improvement}}</li>
                        {% endfor %}
                </ul>
            {% else %}
                <h4>Felicidades, su organización lorem ipsum dolor sit amet.</h4>
            {% endif %}
            <hr>
            <div class="direction_btns">
                <div class="col-md-4">
                <a class="btn-back" href="{{path('improvementbyguide_index', {"id": id})}}">< REGRESAR</a>
                </div>
                <div class="col-md-4">
                <a class="btn-continue" href="{{path('publicos-meta_index', {"id": id})}}">CONTINUAR > </a>
                </div>
                <div class="col-md-4">
                <a class="btn-save_exit" href="{{path('index')}}">CONTINUAR DÉSPUES > </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
