{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="col-lg-4 menu-izq-guide">
            <ol>
                <li class="check-guide">Información general</li>
                <li class="check-guide">Conformación del equipo</li>
                {# <li>Preparando el terreno</li> #}
                {# {{ app.request.attributes.get('_route') }}  #}
                <li class="{% if app.request.attributes.get('_route') == 'improvementbyguide_index' %}active{% endif %}">Preparando el terreno</li> 
                <li>Públicos meta</li>
                <li>Aliados</li>
                <li>Nuestro programa</li>
                <li>Finalizar</li>
            </ol>
        </div>
        <div class="col-lg-8">
            <h2 class="title-blue-guide">3. Preparando el terreno</h2>
            <div class="obj-guide-box">
                <div class="obj-guide">
                    <div class="col-md-3 icon">
                        <img src="{{ asset('bundles/oit/images/ico-objetivos.svg') }}">
                        <p>Objetivo</p>
                    </div>
                    <div class="col-md-9 text">
                        <p>Mostrar las condiciones previas que se tienen que dar para la implementación de un programa de VIH y facilitar el logro de esos requisitos clave.</p>
                    </div>
                </div>
            </div>
            <h3 class="title-datos">DIAGNÓSTICO DE FORTALEZAS Y PUNTOS DE MEJORA</h3>
            <p>El cuestionario que presentamos a continuación nos ayudará a identificar las fortalezas existentes en nuestro lugar de trabajo para desarrollar programas de VIH, así como las brechas que necesitamos llenar para poder iniciar programas de VIH exitosos.</p>
            <hr>
            <form action="{{path("improvementbyguide_add")}}" id="improvement_points" method="POST">
                {% for improvementPoint in improvementPoints %}
                    <div class="form-group">
                        <label for="inputEmail3" class="control-label">{{loop.index}}. {{ improvementPoint.improvement.description }}</label>
                        <div class="col-sm-12">
                            <label class="radio-inline">
                                <input type="radio" name="improvement{{loop.index}}" id="inlineRadio1" value="1" {% if improvementPoint.answer == '1' %}checked{%endif%} required> Sí
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="improvement{{loop.index}}" id="inlineRadio1" value="0" {% if improvementPoint.answer == '0' %}checked{%endif%} required> No
                            </label>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
                <input type="hidden" value="{{id}}" name="guide_id" >
                
            </form>
            <hr>
            <div class="direction_btns">
                <div class="col-lg-4">
                <a class="btn-back" href="{{path('equipos_index', {"id": id})}}">< REGRESAR</a>
                </div>
                <div class="col-lg-4">
                <input form="improvement_points" type="submit" class="continue" value="CONTINUAR >"/>
                </div>
                <div class="col-lg-4">
                <a class="btn-save_exit" href="{{path('index')}}">CONTINUAR DÉSPUES > </a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
