{% extends 'base.html.twig' %}

{% block body %}
    <h1>Improvementbyguide</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ improvementByGuide.id }}</td>
            </tr>
            <tr>
                <th>Answer</th>
                <td>{{ improvementByGuide.answer }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('improvementbyguide_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('improvementbyguide_edit', { 'id': improvementByGuide.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
