{% block body %}
    {{ form_start(edit_form, { 'attr': {'id': 'strategicline_form_edit', 'action': path("lineas-estrategicas_editAjax", {"id": strategicLine.id }), 'method': 'POST' } }) }}
    {{ form_widget(edit_form.objetive, { 'attr': {'class': 'form-control no_radius'} }) }}
    <div class="form-group">
        <label for="inputEmail3" class="control-label control-upper">1. Línea estratégica</label>
        <p class="control-text">Cada objetivo tiene una serie de líneas estratégicas relacionadas. Seleccione la línea estratégica sobre la cual va a trabajar. Las líneas estratégicas pueden repetirse las veces que necesite.</p>
        {{ form_widget(edit_form.line, { 'attr': {'class': 'form-control no_radius'} }) }}
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="control-label control-upper">2. Acción</label>
        <p class="control-text">Las acciones aquí presentadas han sido recopiladas de diferentes manuales y programas de VIH en el lugar de trabajo.</p>
        {{ form_widget(edit_form.action, { 'attr': {'class': 'form-control no_radius'} }) }}
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="control-label control-upper">3. Actividades</label>
        <p class="control-text">Seleccione las actividades necesarias para completar la acción seleccionada. Puede seleccionar varias.</p>
        {% form_theme edit_form 'fields.html.twig' %}
        {{ form_widget(edit_form.activities) }}
    </div>
    
    <div class="expected_results">
    {% for result in results %}
        
        <div class="form-group-result">
            <div class="form-group">
                <label for="inputEmail3" class="control-label control-upper">4. Resultados esperados por públicos meta</label>
                <select id="oitbundle_expectedresult_audience" data-value="{{result.audience}}" name="oitbundle_expectedresult[audience][]" class="form-control no_radius select_audience">
                    <option>- seleccione un público meta -</option>
                    <option value="1">Puestos estratégicos</option>
                    <option value="2">Puestos tácticos</option>
                    <option value="3">Puestos operativos</option>
                    <option value="4">Familias</option>
                    <option value="5">Aliados</option>
                    <option value="6">Personas con VIH de ASAZGUA</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="control-label control-upper">Resultado esperado</label>
                <textarea id="oitbundle_expectedresult_result" name="oitbundle_expectedresult[result][]" required="required" rows="5" class="form-control no_radius">{{result.result}}</textarea>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="control-label control-upper">Indicador</label>
                <textarea id="oitbundle_expectedresult_indicator" name="oitbundle_expectedresult[indicator][]" required="required" rows="5" class="form-control no_radius">{{result.indicator}}</textarea>
            </div>
            <input id="oitbundle_expectedresult_id" type="hidden" name="oitbundle_expectedresult[id][]" value="{{result.id}}">
            

        </div>
            
        {% endfor %}
        <button class="btn add_result btn btn-new">Agregar otro resultado +</button>
            </div>
        <div class="form-group">
        <label for="inputEmail3" class="control-label control-upper">4. Fechas</label>
        <p class="control-text">Seleccione el periodo de tiempo en el cual ser va a implementar esta acción.</p>
        {{ form_widget(edit_form.startDate, { 'attr': {'class': 'no_radius'} }) }}
        {{ form_widget(edit_form.endDate, { 'attr': {'class': 'no_radius'} }) }}
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="control-label control-upper">5. Fuentes de veriﬁcación</label>
        {{ form_widget(edit_form.verificationSources, { 'attr': {'class': 'form-control no_radius'} }) }}
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="control-label control-upper">6. Medios</label>
        {{ form_widget(edit_form.media, { 'attr': {'class': 'form-control no_radius'} }) }}
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="control-label control-upper">7. Presupuesto</label>
        {{ form_widget(edit_form.budget, { 'attr': {'class': 'form-control no_radius'} }) }}
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="control-label control-upper">8. Aliados</label>
        {{ form_widget(edit_form.allies, { 'attr': {'class': ''} }) }}
    </div>
    <div class="form-group">
        <input type="hidden" name="guide_id" value="{{id}}">
    </div>

    {{ form_end(edit_form) }}
{% endblock %}
<script>
    $(".add_result").click(function (e) {
        e.preventDefault();
        $("#expected_results").append($("#template").html());
    });
    
    $(".select_audience").each(function () {
        $(this).val($(this).data("value"));
    });
    $.fn.serializeObject = function ()
    {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
    $('#md_edit_strategicline').on('show.bs.modal', function (e) {
        var id = $(".objetive.active").data("id");
        $("#oitbundle_strategicline_objetive").val(id);
        lineChanged(id);
    });
    $("#strategicline_form_edit").on("submit", function (e) {
        e.preventDefault();
        // get the properties and values from the form
        data = $("#strategicline_form_edit").serializeObject();
        // always makes sense to signal user that something is happening
        $.ajax({
            url: $("#strategicline_form_edit").attr("action"),
            type: 'POST',
            dataType: 'json',
            data: data,
            success: function (data) {
                console.log(data);
                if (data.status === true) {

                    $("#md_edit_strategicline").modal("hide");
                    $(".strategicLine" + data.strategicLine.id + " .line a").text(data.strategicLine.line.description);
                    $(".strategicLine" + data.strategicLine.id + " .action").text(data.strategicLine.action.description);
                } else {
                    console.log("Entity submitted was invalid, use try catch and getMessage of eventual errors in you controller action, you can pass all that to the returning array you can receive and parse here ! ");
                }
            }
        });
    });
    var lines = [
    {% for conditional in conditionals %}    
    {
    id:{{ conditional.id }},
            actions: [{% for line in conditional.lines %}{{line}},{% endfor %} ]
    },
    {% endfor %}
        ];
        var actions = [

    {% for conditional2 in conditionals2 %}    
        {
        id:{{ conditional2.id }},
                activities: [{% for activity in conditional2.activities %}{{activity}},{% endfor %} ]
        },
    {% endfor %}
        ];
        var objetives = [

    {% for conditional3 in conditionals3 %}    
        {
        id:{{ conditional3.id }},
                lines: [{% for line in conditional3.lines %}{{line}},{% endfor %} ]
        },
    {% endfor %}
        ];
        
    function activityChanged(actionId) {
        $('#oitbundle_strategicline_activities input').parent().parent().hide();
        for (var i = 0; i < actions.length; i++) {
            if (actions[i].id == actionId) {
                showActivities(actions[i].activities);
                return;
            }
        }

    }

    function lineChanged(objetiveId) {
        $('#oitbundle_strategicline_line option[value!=""]').hide();
        for (var i = 0; i < objetives.length; i++) {
            if (objetives[i].id == objetiveId) {
                showLines(objetives[i].lines);
                actionChanged(objetives[i].lines[0]);
                return;
            }
        }

    }

    function actionChanged(lineId) {
        $('#oitbundle_strategicline_action option[value!=""]').hide();
        for (var i = 0; i < lines.length; i++) {
            if (lines[i].id == lineId) {
                showActions(lines[i].actions);
                activityChanged(lines[i].actions[0]);
                return;
            }
        }

    }

    function showActivities(activities) {
        for (var i = 0; i < activities.length; i++) {
            console.log('#oitbundle_strategicline_activities input[value=' + activities[i] + ']');
            $('#oitbundle_strategicline_activities input[value=' + activities[i] + ']').parent().parent().show();
        }
    }

    function showActions(actions) {
        for (var i = 0; i < actions.length; i++) {
            $('#oitbundle_strategicline_action option[value="' + actions[i] + '"]').show();
        }


    }

    function showLines(lines) {
        for (var i = 0; i < lines.length; i++) {
            $('#oitbundle_strategicline_line option[value="' + lines[i] + '"]').show();
        }
    }

    $(window).ready(function () {
        $('#oitbundle_strategicline_action option[value!=""]').hide();
        $('#oitbundle_strategicline_objetive').on('change', function (e) {
            lineChanged(e.target.value);
        });
        $('#oitbundle_strategicline_line').on('change', function (e) {
            actionChanged(e.target.value);
        });
        $('#oitbundle_strategicline_action').on('change', function (e) {
            activityChanged(e.target.value);
        });
    });

</script>