{% extends 'base.html.twig' %}

{% block body %}


    <div class="modal fade" tabindex="-1" id="md_edit_strategicline" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">EDITAR LÍNEA ESTRATÉGICA</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <input type="submit" form="strategicline_form_edit" class="btn btn-default" value="Editar" />
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" tabindex="-1" id="md_add_strategicline" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">AGREGAR LÍNEA ESTRATÉGICA</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(form, { 'attr': {'id': 'strategicline_form_new', 'action': "", 'method': 'POST' } }) }}
                    {{ form_widget(form.objetive, { 'attr': {'class': 'form-control no_radius '} }) }}
                    <div class="form-group">
                        <label for="inputEmail3" class="control-label control-upper">1. Línea estratégica</label>
                        <p class="control-text">Cada objetivo tiene una serie de líneas estratégicas relacionadas. Seleccione la línea estratégica sobre la cual va a trabajar. Las líneas estratégicas pueden repetirse las veces que necesite.</p>
                        {{ form_widget(form.line, { 'attr': {'class': 'form-control no_radius'} }) }}
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="control-label control-upper">2. Acción</label>
                        <p class="control-text">Las acciones aquí presentadas han sido recopiladas de diferentes manuales y programas de VIH en el lugar de trabajo.</p>
                        {{ form_widget(form.action, { 'attr': {'class': 'form-control no_radius'} }) }}
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="control-label control-upper">3. Actividades</label>
                        <p class="control-text">Seleccione las actividades necesarias para completar la acción seleccionada. Puede seleccionar varias.</p>
                        {% form_theme form 'fields.html.twig' %}
                        {{ form_widget(form.activities) }}
                    </div>
                 
                    <label for="inputEmail3" class="control-label control-upper">4. Resultados esperados por públicos meta</label>
                    <p>Seleccione los públicos meta a los cuales va dirigida esta acción, así como el resultado esperado y los indicadores para medir el éxito de los resultados. Pueden haber diferentes resultados para distintos públicos meta. Puede agregar todos los públicos necesarios.</p>
                    <div class="expected_results">

                    </div>
                    <button class="btn add_result btn btn-new">Agregar otro resultado +</button>
                    <div class="form-group">
                        <label for="inputEmail3" class="control-label control-upper">4. Fechas</label>
                        <p class="control-text">Seleccione el periodo de tiempo en el cual ser va a implementar esta acción.</p>
                        <div class="startDate">{{ form_widget(form.startDate, { 'attr': {'class': 'no_radius form-control'} }) }}</div>
                        <div class="endDate">{{ form_widget(form.endDate, { 'attr': {'class': 'no_radius form-control'} }) }}</div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="control-label control-upper">5. Fuentes de veriﬁcación</label>
                        {{ form_widget(form.verificationSources, { 'attr': {'class': 'form-control no_radius'} }) }}
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="control-label control-upper">6. Medios</label>
                        {{ form_widget(form.media, { 'attr': {'class': 'form-control no_radius'} }) }}
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="control-label control-upper">7. Presupuesto</label>
                        {{ form_widget(form.budget, { 'attr': {'class': 'form-control no_radius'} }) }}
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="control-label control-upper">8. Aliados</label>
                        {{ form_widget(form.allies, { 'attr': {'class': ''} }) }}
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="guide_id" value="{{id}}">
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <input type="submit" form="strategicline_form_new" class="btn btn-default" value="Guardar" />
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="container page-strategic-line">
        <div class="col-lg-4 menu-izq-guide">
            <ol>
                <li class="check-guide">Información general</li>
                <li class="check-guide">Conformación del equipo</li>
                <li class="check-guide">Preparando el terreno</li>
                <li class="check-guide">Públicos meta</li>
                <li class="check-guide">Aliados</li>
                    {# <li>Nuestro programa</li> #}
                    {# {{ app.request.attributes.get('_route') }}  #}
                <li class="{% if app.request.attributes.get('_route') == 'lineas-estrategicas_index' %}active{% endif %}">Nuestro programa</li>
                <li>Finalizar</li>
            </ol>
        </div>
        <div class="col-lg-8">
            <h2 class="title-blue-guide">6. Nuestro programa</h2>

            <div class="obj-guide-box">
                <div class="obj-guide">
                    <div class="col-md-3 icon">
                        <img src="{{ asset('bundles/oit/images/ico-objetivos.svg') }}">
                        <p>Objetivo</p>
                    </div>
                    <div class="col-md-9 text">
                        <p>
                            Proporcionar la estructura del programa de VIH, de tal manera que ellos van a volcar/seleccionar las líneas estratégicas, públicos, objetivos, resultados, etc que consideren oportunas.
                        </p>
                    </div>
                </div>
            </div>
            <h3 class="title-datos">Creación del programa</h3>
            <p>Llegó la hora de elaborar nuestro Programa de VIH. Verán que los elementos que se requieren ya han sido analizados y revisados a lo largo de la presente herramienta. Es el momento de establecer las prioridades de nuestra empresa y definir acciones específicas para cada uno de los 5 objetivos. En cada objetivo se pueden trabajar varias líneas estratégicas. Las líneas estratégicas a su vez pueden tener varias acciones.</p>
            <br>


            <div id="buttons_objetives">
                {% for objetive in objetives %}
                    <button class="objetive {%if loop.index == 1 %}active{% endif %}" data-id="{{objetive.id}}">Objetivo {{loop.index}}</button>
                {% endfor %}
            </div>
            <div id="info_objetives">
                {% for objetive in objetives %}
                    <div class="objetive_cont objetive{{objetive.id}} {%if loop.index == 1 %}first{% endif %}" >
                        <div class="col-md-1 image no-padding"><img src="{{objetive.image}}"></div>
                        <div class="col-md-11 title adjust no-padding"><p>{{objetive.title}}</p></div>
                    </div>
                {% endfor %}
            </div>
            <table id="strategicline_guide" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Línea estratégica</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for strategicLine in strategicLines %}
                        <tr class="strategicLine strategicLine{{strategicLine.id}} objetive{{strategicLine.objetive.id}}" >
                            <td class="line"><a data-id='{{ strategicLine.id }}' class='edit_link' href='#'>{{ strategicLine.line.description }}</a></td>
                            <td class="action">{{ strategicLine.action.description }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="button" class="btn btn-new" data-toggle="modal" data-target="#md_add_strategicline">Agregar línea estratégica +</button>
            <hr>
            <div class="direction_btns">
                <div class="col-lg-4">
                    <a class="btn-back" href="{{path('aliados_index', {"id": id})}}"> < REGRESAR</a>
                </div>
                <div class="col-lg-4">
                    <a class="btn-continue" href="{{path('finish', {"id": id})}}">CONTINUAR > </a>
                </div>
                <div class="col-lg-4">
                    <a class="btn-save_exit" href="{{path('index')}}">CONTINUAR DÉSPUES > </a></div>
            </div>
        </div>
    </div>
    <div id="template" class="hidden">
        <div class="form-group-result">
            <div class="form-group">
                <label for="inputEmail3" class="control-label">Público meta</label>
                {{ form_widget(formER.audience, { 'attr': {'class': 'form-control no_radius', 'name': 'audience1'} }) }}
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="control-label">Resultado esperado</label>
                {{ form_widget(formER.result, { 'attr': {'class': 'form-control no_radius', 'name': 'result1'} }) }}
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="control-label">Indicador</label>
                {{ form_widget(formER.indicator, { 'attr': {'class': 'form-control no_radius', 'name': 'indicator1'} }) }}
            </div>
            <input id="oitbundle_expectedresult_id" type="hidden" name="oitbundle_expectedresult[id][]" value="">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){    
                
            $(".form-group-result .form-control").each(function(){
                $(this).attr("name", $(this).attr("name")+"[]");
            });
            
            $("#md_add_strategicline .expected_results").append($("#template").html());
        });
        
        $(".add_result").click(function(e){
            e.preventDefault();
            $("#md_add_strategicline .expected_results").append($("#template").html());
        });
        var lines = [
        {% for conditional in conditionals %}    
        {
        id:{{ conditional.id }},
                actions: [{% for line in conditional.lines %}{{line}},{% endfor %} ]
        },
        {% endfor %}
            ];
            var actions = [

        {% for conditional2 in conditionals2 %}    
            {
            id:{{ conditional2.id }},
                    activities: [{% for activity in conditional2.activities %}{{activity}},{% endfor %} ]
            },
        {% endfor %}
            ];
            var objetives = [

        {% for conditional3 in conditionals3 %}    
            {
            id:{{ conditional3.id }},
                    lines: [{% for line in conditional3.lines %}{{line}},{% endfor %} ]
            },
        {% endfor %}
            ];
            
        $('#md_add_strategicline').on('show.bs.modal', function (e) {
            var id = $(".objetive.active").data("id");
            $("#oitbundle_strategicline_objetive").val(id);
            lineChanged(id);
        });
        $(".adjust").each(function (e) {
            $(this).css("height", $(this).parent().children(".image").height() + "px");
            if (!$(this).parent().hasClass("first")) {
                $(this).parent().addClass("hidden")
            }
        });
        $(".edit_link").on("click", function (e) {
            e.preventDefault();
            editStrategicLine($(this));
        });
        $(".objetive").on("click", function (e) {
            $(".objetive").removeClass("active");
            $(this).addClass("active");
            $("#info_objetives .objetive_cont").addClass("hidden");
            $("#info_objetives .objetive" + $(this).data("id")).removeClass("hidden");
            $("tr.strategicLine").hide();
            $("tr.strategicLine.objetive" + $(this).data("id")).show();
        });
        function editStrategicLine(xthis) {

            $.ajax({
                url: '/lineas-estrategicas/' + xthis.data("id") + '/edit',
                type: 'POST',
                dataType: 'json',
                data: {
                    id: xthis.data("id")
                },
                success: function (data) {
                    console.log("2asa");
                    $("#md_edit_strategicline .modal-body").html("");
                    $("#md_edit_strategicline .modal-body").append(data.html);
                    $("#md_edit_strategicline").modal("show");
                    
                    $(".add_result").click(function (e) {
                
                        e.preventDefault();
                        $("#md_edit_strategicline .expected_results").append($("#template").html());
                    });
                }
            });
        }
        

        function activityChanged(actionId) {
            $('#oitbundle_strategicline_activities').val('');
            $('#oitbundle_strategicline_activities input').parent().parent().hide();
            for (var i = 0; i < actions.length; i++) {
                if (actions[i].id == actionId) {
                    showActivities(actions[i].activities);
                    return;
                }
            }

        }

        function lineChanged(objetiveId) {
            $('#oitbundle_strategicline_line').val('');
            $('#oitbundle_strategicline_line option[value!=""]').hide();
            for (var i = 0; i < objetives.length; i++) {
                if (objetives[i].id == objetiveId) {
                    showLines(objetives[i].lines);
                    actionChanged(objetives[i].lines[0]);
                    return;
                }
            }

        }

        function actionChanged(lineId) {
            $('#oitbundle_strategicline_action').val('');
            $('#oitbundle_strategicline_action option[value!=""]').hide();
            for (var i = 0; i < lines.length; i++) {
                if (lines[i].id == lineId) {
                    showActions(lines[i].actions);
                    activityChanged(lines[i].actions[0]);
                    return;
                }
            }

        }

        function showActivities(activities) {
            for (var i = 0; i < activities.length; i++) {
                console.log($("#oitbundle_strategicline_activities_" + activities[i]).parent().parent());
                $("#oitbundle_strategicline_activities_" + activities[i]).parent().parent().show();
            }
        }

        function showActions(actions) {
            for (var i = 0; i < actions.length; i++) {
                $('#oitbundle_strategicline_action option[value="' + actions[i] + '"]').show();
            }
            $('#oitbundle_strategicline_action').val(actions[0]);
        }

        function showLines(lines) {
            for (var i = 0; i < lines.length; i++) {
                $('#oitbundle_strategicline_line option[value="' + lines[i] + '"]').show();
            }
            $('#oitbundle_strategicline_line').val(lines[0]);
        }
        $("#info_objetives .objetive_cont").addClass("hidden");
        $("#info_objetives .objetive1").removeClass("hidden");
        $("tr.strategicLine").hide();
        $("tr.strategicLine.objetive1").show();
        $(window).ready(function () {
            $('#oitbundle_strategicline_action option[value!=""]').hide();
            $('#oitbundle_strategicline_objetive').on('change', function (e) {
                lineChanged(e.target.value);
            });
            $('#oitbundle_strategicline_line').on('change', function (e) {
                actionChanged(e.target.value);
            });
            $('#oitbundle_strategicline_action').on('change', function (e) {
                activityChanged(e.target.value);
            });
        });
        $.fn.serializeObject = function ()
        {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };
        $("#strategicline_form_new").on("submit", function (e) {
            e.preventDefault();
            // get the properties and values from the form
            data = $("#strategicline_form_new").serializeObject();
            // always makes sense to signal user that something is happening
            $.ajax({
                url: '{{path("lineas-estrategicas_ajax_new")}}',
                type: 'POST',
                dataType: 'json',
                data: data,
                success: function (data) {
                    $('#strategicline_form_new')[0].reset();
                    $('#loadingSpinner').hide();
                    $('#mySubmitButton').show();
                    if (data.status === true) {
                        $("#md_add_strategicline").modal("hide");
                        console.log("<tr><td><a data-id='" + data.strategicLine.id + "' class='edit_link' href='#'>" + data.strategicLine.line.description + "</a></td><td>" + data.strategicLine.action.description + "</td></tr>");
                        $("#strategicline_guide tbody").append(
                                "<tr class='strategicLine strategicLine" + data.strategicLine.id + "'>\n\
                                        <td class='line'><a data-id='" + data.strategicLine.id + "' class='edit_link' href='#'>" + data.strategicLine.line.description + "</a></td>\n\
                                        <td class='action'>" + data.strategicLine.action.description + "</td>\n\
                                    </tr>");
                        $(".edit_link").unbind("click");
                        $(".edit_link").on("click", function (e) {
                            e.preventDefault();
                            editStrategicLine($(this));
                        });
                    } else {
                        console.log("Entity submitted was invalid, use try catch and getMessage of eventual errors in you controller action, you can pass all that to the returning array you can receive and parse here ! ");
                    }
                }
            });
        });
    </script>
{% endblock %}
