{% extends 'base.html.twig' %}

{% block body %}


{% endblock %}
{% block javascripts %}
    <script>
        var lines = [
        {% for conditional in conditionals %}    
            {
                id: {{ conditional.id }},
                actions: [{% for line in conditional.lines %}{{line}},{% endfor %} ]
            },
        {% endfor %}
            ];
            
            var actions = [
         
            {
                id: 2,
                activities: [1, 2, 3]
            }
            ];
            
            function activityChanged(actionId) {
                $('#oitbundle_strategicline_activities').val('');
                $('#oitbundle_strategicline_activities input').parent().hide();

                for (var i = 0; i < actions.length; i++) {
                    if (actions[i].id == actionId) {
                        showActivities(actions[i].activities);
                        return;
                    }
                }
            }
            
            function actionChanged(lineId) {
                $('#oitbundle_strategicline_action').val('');
                $('#oitbundle_strategicline_action option[value!=""]').hide();

                for (var i = 0; i < lines.length; i++) {
                    if (lines[i].id == lineId) {
                        showActions(lines[i].actions);
                        return;
                    }
                }
            }
            
            function showActivities(activities) {
                for (var i = 0; i < activities.length; i++) {
                    console.log('#oitbundle_strategicline_activities input[value=' + activities[i] + ']');
                    $('#oitbundle_strategicline_activities input[value=' + activities[i] + ']').parent().show();
                }
            }
            
            function showActions(actions) {
                for (var i = 0; i < actions.length; i++) {
                    $('#oitbundle_strategicline_action option[value="' + actions[i] + '"]').show();
                }
                $('#oitbundle_strategicline_action').val(actions[0]);
            }

            $(window).ready(function () {
                $('#oitbundle_strategicline_action option[value!=""]').hide();

                $('#oitbundle_strategicline_line').on('change', function (e) {
                    actionChanged(e.target.value);
                });
                
                $('#oitbundle_strategicline_action').on('change', function (e) {
                    activityChanged(e.target.value);
                });

            });
    </script>
{% endblock %}