{% extends 'base.html.twig' %}

{% block body %}
    <h1>Strategicline</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ strategicLine.id }}</td>
            </tr>
            <tr>
                <th>Action</th>
                <td>{{ strategicLine.action }}</td>
            </tr>
            <tr>
                <th>Activities</th>
                <td>
                    <ul>    
                        {% for activity in strategicLine.activities %}
                            <li>{{activity.name}}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{% if strategicLine.startDate %}{{ strategicLine.startDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{{ strategicLine.endDate|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Verificationsources</th>
                <td>{{ strategicLine.verificationSources }}</td>
            </tr>
            <tr>
                <th>Media</th>
                <td>{{ strategicLine.media }}</td>
            </tr>
            <tr>
                <th>Budget</th>
                <td>{{ strategicLine.budget }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lineas-estrategicas_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('lineas-estrategicas_edit', { 'id': strategicLine.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
