    {% extends 'base.html.twig' %}

{% block body %}


    <div class="container">
     <h2 class="title-recursos">Recursos</h2>
 </div>
    <div class="container recu-page">



        <div class="col-md-9">
{# 
    
    {{ categories.0.name }}
    <ul>
        {% for resource1 in resources1 %}
            <li>{{ resource1.title }}</li>
        {% endfor %}
    </ul>

    
    {{ categories.1.name }}
    <ul>
        {% for resource2 in resources2 %}
            <li>{{ resource2.title }}</li>
        {% endfor %}
    </ul>

    
    {{ categories.2.name }}
    <ul>
        {% for resource3 in resources3 %}
            <li>{{ resource3.title }}</li>
        {% endfor %}
    </ul>

    
    {{ categories.3.name }}
    <ul>
        {% for resource4 in resources4 %}
            <li>{{ resource4.title }}</li>
        {% endfor %}
    </ul>

    
    {{ categories.4.name }}
    <ul>
        {% for resource5 in resources5 %}
            <li>{{ resource5.title }}</li>
        {% endfor %}
    </ul>

    

    <div class="row eq-cell">
        <div class="col-md-2 img-cat">
            <img src="{{ categories.6.icon|default("no-image") }}" class="image">
        </div>
        <div class="tilte-cat-box col-md-10">
            {{ categories.5.name }}
        </div>
    </div>
    


    

    

    <ul>
        {% for resource6 in resources6 %}
            <li>{{ resource6.title }}</li>
        {% endfor %}
    </ul>

    


    <div class="row eq-cell">
        <div class="col-md-2 img-cat">
            <img src="{{ categories.6.icon|default("no-image") }}" class="image">
        </div>
        <div class="tilte-cat-box col-md-10">
            {{ categories.6.name }}
        </div>
    </div>

    {% if resources7|length > 0  %}
    <ul>
        {% for resource7 in resources7 %}
            <li>{{ resource7.title }}</li>
        {% endfor %}
    </ul>


    {% else  %}

        <p>No hay recursos en la</p>

    {% endif  %} 

    </div> #}


{# ----------- #}

{# cat 1 #}
    <div class="row eq-cell" id="marco">
        <div class="col-md-2 img-cat1 col-xs-2">
            <img src="{{ categories.0.icon|default("no-image") }}" class="image">
        </div>
        <div class="tilte-cat-box col-md-10 col-xs-10">
            <p>{{ categories.0.name }}</p>
        </div>
    </div>

    {% if resources1|length > 0  %}
    <ul>
        {% for resource1 in resources1 %}
            <li><a href="{{ resource1.link }}" target="_blank">{{ resource1.title }}</a></li>
        {% endfor %}
    </ul>
    {% else  %}

        <p>No hay recursos disponibles</p>

    {% endif  %} 

    {# fin cat 1 #}

    {# cat 2 #}
    <div class="row eq-cell" id="manuales">
        <div class="col-md-2 img-cat2 col-xs-2">
            <img src="{{ categories.1.icon|default("no-image") }}" class="image">
        </div>
        <div class="tilte-cat-box col-md-10 col-xs-10">
           <p>{{ categories.1.name }}</p>
        </div>
    </div>

    {% if resources2|length > 0  %}
    <ul>
        {% for resource2 in resources2 %}
            <li><a href="{{ resource2.link }}" target="_blank">{{ resource2.title }}</a></li>
        {% endfor %}
    </ul>
    {% else  %}

        <p>No hay recursos disponibles</p>

    {% endif  %} 

    {# fin cat 2 #}

        {# cat 3 #}
    <div class="row eq-cell" id="apoyo">
        <div class="col-md-2 img-cat3 col-xs-2">
            <img src="{{ categories.2.icon|default("no-image") }}" class="image">
        </div>
        <div class="tilte-cat-box col-md-10 col-xs-10">
           <p>{{ categories.2.name }}</p>
        </div>
    </div>

    {% if resources3|length > 0  %}
    <ul>
        {% for resource3 in resources3 %}
            <li><a href="{{ resource3.link }}" target="_blank">{{ resource3.title }}</a></li>
        {% endfor %}
    </ul>
    {% else  %}

        <p>No hay recursos disponibles</p>

    {% endif  %} 

    {# fin cat 3 #}

            {# cat 4 #}
    <div class="row eq-cell" id="campanas">
        <div class="col-md-2 img-cat4 col-xs-2">
            <img src="{{ categories.3.icon|default("no-image") }}" class="image">
        </div>
        <div class="tilte-cat-box col-md-10 col-xs-10">
            <p>{{ categories.3.name }}</p> 
        </div>
    </div>

    {% if resources4|length > 0  %}
    <ul>
        {% for resource4 in resources4 %}
            <li><a href="{{ resource4.link }}" target="_blank">{{ resource4.title }}</a></li>
        {% endfor %}
    </ul>
    {% else  %}

        <p>No hay recursos disponibles</p>

    {% endif  %} 

    {# fin cat 4 #}
    {# cat 5 #}
    <div class="row eq-cell" id="buenas">
        <div class="col-md-2 img-cat5 col-xs-2">
            <img src="{{ categories.4.icon|default("no-image") }}" class="image">
        </div>
        <div class="tilte-cat-box col-md-10 col-xs-10">
            <p>{{ categories.4.name }}</p>
        </div>
    </div>

    {% if resources5|length > 0  %}
    <ul>
        {% for resource5 in resources5 %}
            <li><a href="{{ resource5.link }}" target="_blank">{{ resource5.title }}</a></li>
        {% endfor %}
    </ul>
    {% else  %}

        <p>No hay recursos disponibles</p>

    {% endif  %} 

    {# fin cat 5 #}
        {# cat 6 #}
    <div class="row eq-cell" id="webs">
        <div class="col-md-2 img-cat6 col-xs-2">
            <img src="{{ categories.5.icon|default("no-image") }}" class="image">
        </div>
        <div class="tilte-cat-box col-md-10 col-xs-10">
            <p>{{ categories.5.name }}</p>
        </div>
    </div>

    {% if resources6|length > 0  %}
    <ul>
        {% for resource6 in resources6 %}
            <li><a href="{{ resource6.link }}" target="_blank">{{ resource6.title }}</a></li>
        {% endfor %}
    </ul>
    {% else  %}

        <p>No hay recursos disponibles</p>

    {% endif  %} 

    {# fin cat 6 #}

            {# cat 7 #}
    <div class="row eq-cell" id="directorio">
        <div class="col-md-2 img-cat7 col-xs-2">
            <img src="{{ categories.6.icon|default("no-image") }}" class="image">
        </div>
        <div class="tilte-cat-box col-md-10 col-xs-10">
            <p>{{ categories.6.name }}</p>
        </div>
    </div>

    {% if resources7|length > 0  %}
    <ul>
        {% for resource7 in resources7 %}
            <li><a href="{{ resource7.link }}" target="_blank">{{ resource7.title }}</a></li>
        {% endfor %}
    </ul>
    {% else  %}

        <p>No hay recursos disponibles</p>

    {% endif  %} 

    {# fin cat 7 #}

</div> {# fin col 9 #}

<div class="col-md-3 caja-menu hidden-sm hidden-xs">
    <div class="ul-li">
    <ul>
        <li><a class="recursos-link" href="#marco">Marco normativo y legal</a></li>
        <li><a class="recursos-link" href="#manuales">Manuales</a></li>
        <li><a class="recursos-link" href="#apoyo">Apoyo para la elaboración de materiales y programas</a></li>
        <li><a class="recursos-link" href="#campanas">Campañas sobre VIH</a></li>
        <li><a class="recursos-link" href="#buenas">Buenas prácticas

</a></li>
        <li><a class="recursos-link" href="#webs">Webs de referencia</a></li>
        <li><a class="recursos-link" href="#directorio">Directorio de VIH de Guatemala</a></li>
    </ul>
    </div>
</div>

</div> {# fin container #}

{% endblock %}
