{% block body %}
    {{ form_start(edit_form, { 'attr': {'id': 'audience_form_edit', 'action': path("publicos-meta_editAjax", {"id": targetAudience.id }), 'method': 'POST' } }) }}
    {{ form_widget(edit_form.audience, { 'attr': {'class': 'form-control no_radius hidden'} }) }}
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label text-right">Tarea y sector:</label>
        <div class="col-sm-9">
            {{ form_widget(edit_form.sector, { 'attr': {'class': 'form-control no_radius'} }) }}
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label text-right">Número de hombres:</label>
        <div class="col-sm-2">
            {{ form_widget(edit_form.numberOfMens, { 'attr': {'class': 'form-control no_radius', 'value': '0', 'min': '0', 'max': '99'} }) }}
        </div>
        <label for="inputEmail3" class="col-sm-2 control-label text-right">Número de mujeres:</label>
        <div class="col-sm-2">
            {{ form_widget(edit_form.numberOfWomens, { 'attr': {'class': 'form-control no_radius', 'value': '0', 'min': '0', 'max': '99'} }) }}
        </div>
        <label for="inputEmail3" class="col-sm-3 control-label">Total de personas: <span id="numberOfPersons">0</span></label>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label text-right">Edades:</label>
        <div class="col-sm-3">
            {{ form_widget(edit_form.minAgeRange, { 'attr': {'class': 'form-control no_radius'} }) }}
        </div>

        <div class="col-sm-3">
            {{ form_widget(edit_form.maxAgeRange, { 'attr': {'class': 'form-control no_radius'} }) }}
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label text-right">Perfil (nivel educativo, procedencia, idioma):</label>
        <div class="col-sm-9">
            {{ form_widget(edit_form.profile, { 'attr': {'class': 'form-control no_radius'} }) }}
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label text-right">Técnicas de comunicación más efectivas:</label>
        <div class="col-sm-9">
            {{ form_widget(edit_form.communicationSkills, { 'attr': {'class': 'form-control no_radius'} }) }}
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label text-right">Nivel de riesgo respecto al VIH:</label>
        <div class="col-sm-9">
            {{ form_widget(edit_form.vIHRiskLevel, { 'attr': {'class': 'no_radius'} }) }}
        </div>
    </div>
    {{ form_widget(edit_form.implementationGuide, { 'attr': {'class': 'hidden'} }) }}

    {{ form_widget(edit_form) }}
    <input type="hidden" value="{{ targetAudience.id }}" name="target_id">
    {{ form_end(edit_form) }}
{% endblock %}
<script>
    
    
    $("#oitbundle_targetaudience_vIHRiskLevel input").each(function () {
            var chck = $(this).clone();
            var lbl_chck = $("label[for=" + $(this).attr("id") + "]").clone();

            $(this).remove();
            $("label[for=" + $(this).attr("id") + "]").remove();

            $(".modal #oitbundle_targetaudience_vIHRiskLevel").append("<div class='radio'><label></label></div>");
            chck.appendTo("#oitbundle_targetaudience_vIHRiskLevel .radio:last-child label");
            $("#oitbundle_targetaudience_vIHRiskLevel .radio:last-child label").append(lbl_chck.html());
        });
    $.fn.serializeObject = function ()
    {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
    $("#oitbundle_targetaudience_numberOfMens, #oitbundle_targetaudience_numberOfWomens").on("change", function (e) {
        var total = parseInt($("#oitbundle_targetaudience_numberOfMens").val()) + parseInt($("#oitbundle_targetaudience_numberOfWomens").val());
        $("#numberOfPersons").text(total);
    });
    

    $("#audience_form_edit").on("submit", function (e) {
        e.preventDefault();

        // get the properties and values from the form
        data = $("#audience_form_edit").serializeObject();

        // always makes sense to signal user that something is happening
        $.ajax({
            url: $("#audience_form_edit").attr("action"),
            type: 'POST',
            dataType: 'json',
            data: data,
            success: function (data) {

                if (data.status === true) {
                    $("#md_edit_audience").modal("hide");
                    $(".target" + data.targetAudience.id + " .total").text(data.targetAudience.numberOfMens + data.targetAudience.numberOfWomens);
                    $(".target" + data.targetAudience.id + " .mens").text(data.targetAudience.numberOfMens);
                    $(".target" + data.targetAudience.id + " .womens").text(data.targetAudience.numberOfWomens);
                    $(".target" + data.targetAudience.id + " .ages").text(data.targetAudience.minAgeRange + " a " + data.targetAudience.maxAgeRange);

                } else {
                    console.log("Entity submitted was invalid, use try catch and getMessage of eventual errors in you controller action, you can pass all that to the returning array you can receive and parse here ! ");
                }
            }
        });

    });
</script>