{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="col-lg-4 menu-izq-guide">
            <ol>
                <li class="check-guide">Información general</li>
                <li class="check-guide">Conformación del equipo</li>
                <li class="check-guide">Preparando el terreno</li>
                {# <li></li> #}
                {# {{ app.request.attributes.get('_route') }} #}
                <li class="{% if app.request.attributes.get('_route') == 'publicos-meta_index' %}active{% endif %}">Públicos meta</li>
                <li>Aliados</li>
                <li>Nuestro programa</li>
                <li>Finalizar</li>
            </ol>
        </div>
        <div class="col-lg-8">
            <h2 class="title-blue-guide">4. Públicos meta</h2>

             <div class="obj-guide-box">
                <div class="obj-guide">
                    <div class="col-md-3 icon">
                        <img src="{{ asset('bundles/oit/images/ico-objetivos.svg') }}">
                        <p>Objetivo</p>
                    </div>
                    <div class="col-md-9 text">
                        <p>Hacer visibles a todos los trabajadores y a todas las trabajadoras, con sus especifidades, de tal manera que abordemos acciones pertinentes para cada uno.</p>
                    </div>
                </div>
            </div>

            <h4>PIRÁMIDE DE POSICIONES</h4>
            <p>En una empresa u organización suelen haber tres tipos de puestos:</p>

            <div class="pira-img"> 
                <img src="{{ asset('bundles/oit/images/img-piramide.svg') }}">
            </div>

            <h3 class="title-datos">ANÁLISIS DE PÚBLICOS META</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend, est ac convallis vulputate, arcu ligula efficitur turpis, varius vulputate urna ex a libero. Proin dictum convallis odio fermentum consequat. Vivamus quis libero finibus, egestas velit sit amet, aliquam dui. Aenean at iaculis leo, vel condimentum massa.</p>
            <br>

            <div class="modal fade" tabindex="-1" id="md_edit_audience" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Información de Puestos estratégicos</h4>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <input type="submit" form="audience_form_edit" class="btn btn-default" value="Editar" />
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{{'Público meta'|upper}}</th>
                        <th>{{'# Per.'|upper}}</th>
                        <th>{{'% Hom.'|upper}}</th>
                        <th>{{'% Muj.'|upper}}</th>
                        <th>{{'Edades'|upper}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for targetAudience in targetAudiences %}
                        <tr class="target{{targetAudience.id}}">
                            <td><a class="edit_link" data-id="{{targetAudience.id}}" href="#">{{ targetAudience.audience }}</a></td>
                            <td class="total">{% if targetAudience.numberOfMens is not null %}{{ (targetAudience.numberOfMens + targetAudience.numberOfWomens)|default('-')}}{%else%}-{%endif%}</td>
                            <td class="mens">{{ targetAudience.numberOfMens|default('-') }}</td>
                            <td class="womens">{{ targetAudience.numberOfWomens|default('-') }}</td>
                            <td class="ages">{% if targetAudience.minAgeRange is not null %}{{ targetAudience.minAgeRange ~ " a " ~ targetAudience.maxAgeRange }}{%else%}-{%endif%}</td>


                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            <div class="direction_btns">

                <div class="col-md-4">
                <a class="btn-back" href="{{path('improvementbyguide_index', {"id": id})}}">< REGRESAR</a>
                </div>
                <div class="col-md-4">
                <a class="btn-continue" href="{{path('aliados_index', {"id": id})}}">CONTINUAR > </a>
                </div>
                <div class="col-md-4">
                <a class="btn-save_exit" href="{{path('index')}}">CONTINUAR DÉSPUES > </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(".edit_link").on("click", function (e) {
            e.preventDefault();

            $.ajax({
                url: '/publicos-meta/' + $(this).data("id") + '/edit',
                type: 'POST',
                dataType: 'json',
                data: {
                    id: $(this).data("id")
                },
                success: function (data) {
                    $("#md_edit_audience .modal-body").html("");
                    $("#md_edit_audience .modal-body").append(data.html);

                    var total = parseInt($("#oitbundle_targetaudience_numberOfMens").val()) + parseInt($("#oitbundle_targetaudience_numberOfWomens").val());
                    $("#numberOfPersons").text(total);

                    $("#md_edit_audience").modal("show");
                }
            });

        });
    </script>
{% endblock %}