{% extends 'base.html.twig' %}

{% block body %}
    <h1>Targetaudience</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ targetAudience.id }}</td>
            </tr>
            <tr>
                <th>Audience</th>
                <td>{{ targetAudience.audience }}</td>
            </tr>
            <tr>
                <th>Sector</th>
                <td>{{ targetAudience.sector }}</td>
            </tr>
            <tr>
                <th>Numberofmens</th>
                <td>{{ targetAudience.numberOfMens }}</td>
            </tr>
            <tr>
                <th>Numberofwomens</th>
                <td>{{ targetAudience.numberOfWomens }}</td>
            </tr>
            <tr>
                <th>Minagerange</th>
                <td>{{ targetAudience.minAgeRange }}</td>
            </tr>
            <tr>
                <th>Maxagerange</th>
                <td>{{ targetAudience.maxAgeRange }}</td>
            </tr>
            <tr>
                <th>Profile</th>
                <td>{{ targetAudience.profile }}</td>
            </tr>
            <tr>
                <th>Communicationskills</th>
                <td>{{ targetAudience.communicationSkills }}</td>
            </tr>
            <tr>
                <th>Vihrisklevel</th>
                <td>{{ targetAudience.vIHRiskLevel }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('publicos-meta_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('publicos-meta_edit', { 'id': targetAudience.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
