{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Implementatioasasnguides list</h1>
                <table class="table table-responsive table-hover table_forecast">


                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Startdate</th>
                            <th>Enddate</th>
                            <th>Personincharge</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for implementationGuide in implementationGuides %}
                            <tr>
                                <td><a href="{{ path('guias-de-implementacion_show', { 'id': implementationGuide.id }) }}">{{ implementationGuide.id }}</a></td>
                                <td>{% if implementationGuide.startDate %}{{ implementationGuide.startDate|date('Y-m-d') }}{% endif %}</td>
                                <td>{% if implementationGuide.endDate %}{{ implementationGuide.endDate|date('Y-m-d') }}{% endif %}</td>
                                <td>{{ implementationGuide.personInCharge }}</td>
                                <td>{{ implementationGuide.email }}</td>
                                <td>{{ implementationGuide.status }}</td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('guias-de-implementacion_show', { 'id': implementationGuide.id }) }}">show</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('guias-de-implementacion_edit', { 'id': implementationGuide.id }) }}">edit</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('guias-de-implementacion_new') }}">Create a new implementationGuide</a>
        </li>
    </ul>
{% endblock %}
