{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="col-lg-4 menu-izq-guide">
            <ol>
                <li class="{% if app.request.attributes.get('_route') == 'guias-de-implementacion_new' %}active{% endif %}">Información general</li>
                <li>Conformación del equipo</li>
                <li>Preparando el terreno</li>
                <li>Públicos meta</li>
                <li>Aliados</li>
                <li>Nuestro programa</li>
                <li>Finalizar</li>
            </ol>
        </div>
        <div class="col-lg-8">
            <h2 class="title-blue-guide">1. Información general</h2>
            <div class="obj-guide-box">
                <div class="obj-guide">
                    <div class="col-md-3 icon">
                        <img src="{{ asset('bundles/oit/images/ico-objetivos.svg') }}">
                        <p>Objetivo</p>
                    </div>
                    <div class="col-md-9 text">
                        <p>Registrar los datos generales del presente programa de VIH. Esto nos permitirá identificarlo posteriormente en el historial de programas.</p>
                    </div>
                </div>
            </div>
            <h3 class="title-datos">Datos generales de la estrategia</h3>
            <div class="bck-gris-guide">
                {{ form_start(form, { 'attr': {'id': 'implementationguide_form_new'} }) }}
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Periodo</label>
                    <div class="col-sm-10">
                        <div class="form-group start_date">
                            <p>Inicio </p>
                            {{ form_widget(form.startDate, { 'attr': {'class': ''} }) }}
                        </div>
                        <div class="form-group end_date">
                            <p>Finalización </p>
                            {{ form_widget(form.endDate, { 'attr': {'class': ''} }) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Persona encargada</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.personInCharge, { 'attr': {'class': 'form-control no_radius'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Correo electrónico</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.email, { 'attr': {'class': 'form-control no_radius'} }) }}
                    </div>
                </div>

            </div> {# fin bck-gris-guide #}

            {{ form_end(form) }}

            <hr>
            <div class="direction_btns">
                <div class="col-lg-4">
                <a class="btn-back" href="{{path('sobre-la-politica')}}">< REGRESAR</a>
                </div>
                <div class="col-lg-4">
               <input form="implementationguide_form_new" type="submit" class="continue" value="CONTINUAR >"/>
                </div>
                <div class="col-lg-4">
                <a class="btn-save_exit" href="{{path('index')}}">CONTINUAR DÉSPUES > </a>
                </div>
            </div>


        </div> {# fin col-md-8 #}
    </div>
</div>

{% endblock %}
