{% extends 'base.html.twig' %}

{% block body %}
    <h1>Implementationguide</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ implementationGuide.id }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{% if implementationGuide.startDate %}{{ implementationGuide.startDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{% if implementationGuide.endDate %}{{ implementationGuide.endDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Personincharge</th>
                <td>{{ implementationGuide.personInCharge }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ implementationGuide.email }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ implementationGuide.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('guias-de-implementacion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('guias-de-implementacion_edit', { 'id': implementationGuide.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
