

{% block body %}
    {{ form_start(edit_form, { 'attr': {'id': 'team_form_edit', 'action': path("equipos_editAjax", {"id": team.id }), 'method': 'POST' } }) }}
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label">Seleccionar puesto:</label>
        <div class="col-sm-9">
            {{ form_widget(edit_form.job, { 'attr': {'class': 'form-control no_radius'} }) }}
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label">Nombre completo:</label>
        <div class="col-sm-9">
            {{ form_widget(edit_form.fullName, { 'attr': {'class': 'form-control no_radius'} }) }}
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label">Teléfono:</label>
        <div class="col-sm-9">
            {{ form_widget(edit_form.phone, { 'attr': {'class': 'form-control no_radius'} }) }}
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label">Correo electrónico:</label>
        <div class="col-sm-9">
            {{ form_widget(edit_form.email, { 'attr': {'class': 'form-control no_radius'} }) }}
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label">Skype:</label>
        <div class="col-sm-9">
            {{ form_widget(edit_form.skype, { 'attr': {'class': 'form-control no_radius'} }) }}
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label">Experiencia en VIH:</label>
        <div class="col-sm-9">
            {{ form_widget(edit_form.experienceInHIV, { 'attr': {'class': 'form-control no_radius'} }) }}
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label">Necesidades formativas en VIH:</label>
        <div class="col-sm-9">
            {{ form_widget(edit_form.formtiveNeeds, { 'attr': {'class': 'form-control no_radius'} }) }}
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label">Equipo de apoyo:</label>
        <div class="col-sm-9">
            {{ form_widget(edit_form.supportTeam, { 'attr': {'class': 'form-control no_radius'} }) }}
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label">Cita que definirá mi trabajo en VIH:</label>
        <div class="col-sm-9">
            {{ form_widget(edit_form.phrase, { 'attr': {'class': 'form-control no_radius'} }) }}
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="control-label control-upper">Objetivos</label>
        <p class="control-text">Seleccione los objetivos con los que trabajará el miembro del equipo. Puede seleccionar más de uno.</p>
        {% form_theme edit_form 'fields_objetives.html.twig' %}
        {{ form_widget(edit_form.objetives, { 'attr': {'class': ''} }) }}
    </div>

    <div class="form-group">
        <label for="inputEmail3" class="control-label control-upper">Principios</label>
        <p class="control-text">Seleccione los principios en los que se basará el trabajo del miembro del equipo. Puede seleccionar más de uno.</p>
        {% form_theme edit_form 'fields_principles.html.twig' %}
        {{ form_widget(edit_form.principles, { 'attr': {'class': ''} }) }}
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="control-label control-upper">Tareas</label>
        <p class="control-text">Seleccione las tareas que se le asignarán al miembro del equipo. Puede seleccionar varias.</p>
        {% form_theme edit_form 'fields.html.twig' %}
        {{ form_widget(edit_form.tasks, { 'attr': {'class': ''} }) }}
    </div>
    {{ form_end(edit_form) }}


{% endblock %}
<script>
    $.fn.serializeObject = function ()
    {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };

    $("#team_form_edit").on("submit", function (e) {
        e.preventDefault();

        // get the properties and values from the form
        data = $("#team_form_edit").serializeObject();
        var jobs = {{ jobs|json_encode|raw }};
                // always makes sense to signal user that something is happening
                $.ajax({
                    url: $("#team_form_edit").attr("action"),
                    type: 'POST',
                    dataType: 'json',
                    data: data,
                    success: function (data) {

                        if (data.status === true) {
                            $("#md_edit_team").modal("hide");

                            $(".team" + data.team.id + " .job").text(jobs[data.team.job]);
                            $(".team" + data.team.id + " .name").text(data.team.fullName);

                        } else {
                            console.log("Entity submitted was invalid, use try catch and getMessage of eventual errors in you controller action, you can pass all that to the returning array you can receive and parse here ! ");
                        }
                    }
                });

    });
</script>