{% extends 'base.html.twig' %}

{% block body %}


    <div class="modal fade" tabindex="-1" id="md_edit_team" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">EDITAR MIEMBRO DEL EQUIPO</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <input type="submit" form="team_form_edit" class="btn btn-default" value="Editar" />
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" tabindex="-1" id="md_add_team" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">NUEVO MIEMBRO DEL EQUIPO</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(form, { 'attr': {'id': 'team_form_new', 'action': path("equipos_ajax_new"), 'method': 'POST' } }) }}

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Seleccionar puesto:</label>
                        <div class="col-sm-7">
                            {{ form_widget(form.job, { 'attr': {'class': 'form-control no_radius'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Nombre completo:</label>
                        <div class="col-sm-7">
                            {{ form_widget(form.fullName, { 'attr': {'class': 'form-control no_radius'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Teléfono:</label>
                        <div class="col-sm-5">
                            {{ form_widget(form.phone, { 'attr': {'class': 'form-control no_radius'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Correo electrónico:</label>
                        <div class="col-sm-7">
                            {{ form_widget(form.email, { 'attr': {'class': 'form-control no_radius'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Skype:</label>
                        <div class="col-sm-7">
                            {{ form_widget(form.skype, { 'attr': {'class': 'form-control no_radius'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Experiencia en VIH:</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.experienceInHIV, { 'attr': {'class': 'form-control no_radius'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Necesidades formativas en VIH:</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.formtiveNeeds, { 'attr': {'class': 'form-control no_radius'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Equipo de apoyo:</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.supportTeam, { 'attr': {'class': 'form-control no_radius'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Cita que definirá mi trabajo en VIH:</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.phrase, { 'attr': {'class': 'form-control no_radius'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="control-label control-upper">Objetivos</label>
                        <p class="control-text">Seleccione los objetivos con los que trabajará el miembro del equipo. Puede seleccionar más de uno.</p>
                        {% form_theme form 'fields_objetives.html.twig' %}
                        {{ form_widget(form.objetives, { 'attr': {'class': ''} }) }}
                    </div>

                    <div class="form-group">
                        <label for="inputEmail3" class="control-label control-upper">Principios</label>
                        <p class="control-text">Seleccione los principios en los que se basará el trabajo del miembro del equipo. Puede seleccionar más de uno.</p>
                        {% form_theme form 'fields_principles.html.twig' %}
                        {{ form_widget(form.principles, { 'attr': {'class': ''} }) }}
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="control-label control-upper">Tareas</label>
                        <p class="control-text">Seleccione las tareas que se le asignarán al miembro del equipo. Puede seleccionar varias.</p>
                        {% form_theme form 'fields.html.twig' %}
                        {{ form_widget(form.tasks) }}
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="guide_id" value="{{id}}">
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="modal-footer">
                    <div class="col-sm-6"><button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancelar</button></div>
                    <div class="col-sm-6"><input type="submit" form="team_form_new" class="btn btn-new pull-left" value="Guardar" /></div>


                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="container">

        <div class="col-lg-4 menu-izq-guide">
            <ol>

                {# {{ app.request.attributes.get('_route') }} #}

                <li class="check-guide">Información general</li>
                    {# <li>Conformación del equipo</li> #}
                <li class="{% if app.request.attributes.get('_route') == 'equipos_index' %}active{% endif %}">Conformación del equipo</li> 
                <li>Preparando el terreno</li>
                <li>Públicos meta</li>
                <li>Aliados</li>
                <li>Nuestro programa</li>
                <li>Finalizar</li>
            </ol>
        </div>

        <div class="col-lg-8">
            <h2 class="title-blue-guide">2. Conformación del equipo</h2>

            <div class="obj-guide-box">
                <div class="obj-guide">
                    <div class="col-md-3 icon">
                        <img src="{{ asset('bundles/oit/images/ico-objetivos.svg') }}">
                        <p>Objetivo</p>
                    </div>
                    <div class="col-md-9 text">
                        <p>La persona líder en la implementación de la política podrá determinar el personal necesario para conformar un equipo de trabajo así como identificar el perfil, rol, tareas y objetivos de cada uno de los miembros</p>
                    </div>
                </div>
            </div>
            <p>El Manual de la Política de VIH de ASAZGUA señala que para dar cumplimiento a la Política “se designará a un Gerente y grupo de trabajo o se organizará un Comité en cada ingenio u organización de apoyo, integrados por gerentes relacionados con capacitaciones, contrataciones, servicios clínicos y otros que se consideren necesarios. Un reglamento específico normará el funcionamiento de este grupo de trabajo o comité”.</p>
            <h3 class="title-datos">Asignación de tareas</h3>
            <p>Decidamos quién hace qué en función de las prioridades de nuestra empresa.</p>
            <br>
            <table id="teams_guide" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Cargo</th>
                        <th>Encargado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams %}
                        <tr class="team{{team.id}}">
                            <td class="job">{{ jobs[team.job] }}</td>
                            <td class="name">{{ team.fullName }}</td>
                            <td><a href="#" data-id="{{ team.id }}" class="edit_link">Editar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="button" class="btn-new" data-toggle="modal" data-target="#md_add_team">Agregar nuevo miembro +</button>
            <hr>
            <div class="direction_btns">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <a class="btn-continue" href="{{path('improvementbyguide_index', {"id": id})}}">CONTINUAR > </a>
                </div>

                <div class="col-md-4">
                    <a class="btn-save_exit" href="{{path('index')}}">CONTINUAR DÉSPUES > </a>
                </div>
            </div>
        </div>

    </div>{#  container #}

{% endblock %}

{% block javascripts %}
    <script>
     

        $(".edit_link").on("click", function (e) {
            e.preventDefault();
            
            $.ajax({
                url: '/equipos/' + $(this).data("id") + '/edit',
                type: 'POST',
                dataType: 'json',
                data: {
                    id: $(this).data("id")
                },
                success: function (data) {
           
                    $("#md_edit_team .modal-body").html("");
                    $("#md_edit_team .modal-body").append(data.html);
                    $("#md_edit_team").modal("show");

                    
                }
            });
        });

        function editTeam(xthis) {
            
            $.ajax({
                url: '/equipos/' + xthis.data("id") + '/edit',
                type: 'POST',
                dataType: 'json',
                data: {
                    id: xthis.data("id")
                },
                success: function (data) {
                    alert("asa");
                    $("#md_edit_team .modal-body").html("");
                    $("#md_edit_team .modal-body").append(data.html);
                    $("#md_edit_team").modal("show");

                    $("#md_edit_team #oitbundle_team_objetives input").each(function () {
                        var chck = $(this).clone();
                        var lbl_chck = $("label[for=" + $(this).attr("id") + "]").clone();

                        $(this).remove();
                        $("label[for=" + $(this).attr("id") + "]").remove();

                        $(".modal#md_edit_team #oitbundle_team_objetives").append("<div class='checkbox'><label></label></div>");
                        chck.appendTo("#oitbundle_team_objetives .checkbox:last-child label");
                        $("#oitbundle_team_objetives .checkbox:last-child label").append(lbl_chck.html());
                    });

                    $("#md_edit_team #oitbundle_team_principles input").each(function () {
                        var chck = $(this).clone();
                        var lbl_chck = $("label[for=" + $(this).attr("id") + "]").clone();

                        $(this).remove();
                        $("label[for=" + $(this).attr("id") + "]").remove();

                        $(".modal#md_edit_team  #oitbundle_team_principles").append("<div class='checkbox'><label></label></div>");
                        chck.appendTo("#oitbundle_team_principles .checkbox:last-child label");
                        $("#oitbundle_team_principles .checkbox:last-child label").append(lbl_chck.html());
                    });
                    $("#md_edit_team #oitbundle_team_tasks input").each(function () {
                        var chck = $(this).clone();
                        var lbl_chck = $("label[for=" + $(this).attr("id") + "]").clone();

                        $(this).remove();
                        $("label[for=" + $(this).attr("id") + "]").remove();

                        $(".modal#md_edit_team  #oitbundle_team_tasks").append("<div class='checkbox'><label></label></div>");
                        chck.appendTo("#oitbundle_team_tasks .checkbox:last-child label");
                        $("#oitbundle_team_tasks .checkbox:last-child label").append(lbl_chck.html());
                    });
                }
            });
        }

        $.fn.serializeObject = function ()
        {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        $("#team_form_new").on("submit", function (e) {
            e.preventDefault();
            var jobs = {{ jobs|json_encode|raw }};
            // get the properties and values from the form
            data = $("#team_form_new").serializeObject();

            // always makes sense to signal user that something is happening
            $.ajax({
                url: '{{path("equipos_ajax_new")}}',
                type: 'POST',
                dataType: 'json',
                data: data,
                success: function (data) {
                    $('#loadingSpinner').hide();
                    $('#mySubmitButton').show();

                    if (data.status === true) {
                        $("#md_add_team").modal("hide");
                        $("#teams_guide tbody").append("<tr><td>" + jobs[data.team.job] + "</td><td>" + data.team.fullName + "</td><td><a data-id='" + data.team.id + "' class='edit_link' href='#'>Editar</a></td></tr>");
                        $(".edit_link").unbind("click");
                        $(".edit_link").on("click", function (e) {
                            e.preventDefault();
                            editTeam($(this));
                        });


                    } else {
                        console.log("Entity submitted was invalid, use try catch and getMessage of eventual errors in you controller action, you can pass all that to the returning array you can receive and parse here ! ");
                    }
                }
            });

        });
    </script>
{% endblock %}
