{% extends 'base.html.twig' %}

{% block body %}
    <h1>Team creation</h1>

    {{ form_start(form, { 'attr': {'id': 'team_form_new'} }) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" />
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script>
        $.fn.serializeObject = function ()
        {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        $(document).on("click", "#team_form_new", function (e) {
            e.preventDefault();

            // get the properties and values from the form
            data = $("#team_form_new").serializeObject();

            // always makes sense to signal user that something is happening
            $('#loadingSpinner').show();

            // simple approach avoid submitting multiple times
            $('#mySubmitButton').hide();
            $.ajax({
                url: '/equipos/ajax',
                type: 'POST',
                dataType: 'json',
                data: data,
                success: function (data) {
                    $('#loadingSpinner').hide();
                    $('#mySubmitButton').show();

                    console.log(data);
                    if (data.status == true) {
                        console.log("Entity saved ! ");
                    }
                    if (data.status == false) {
                        console.log("Entity submitted was invalid, use try catch and getMessage of eventual errors in you controller action, you can pass all that to the returning array you can receive and parse here ! ");
                    }
                }
            });

        });
    </script>
{% endblock %}