{% extends 'base.html.twig' %}

{% block body %}
    
    
    <h1>Teams</h1>
    
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ team.id }}</td>
            </tr>
            <tr>
                <th>Job</th>
                <td>{{ team.job }}</td>
            </tr>
            <tr>
                <th>Fullname</th>
                <td>{{ team.fullName }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ team.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ team.email }}</td>
            </tr>
            <tr>
                <th>Skype</th>
                <td>{{ team.skype }}</td>
            </tr>
            <tr>
                <th>Experienceinhiv</th>
                <td>{{ team.experienceInHIV }}</td>
            </tr>
            <tr>
                <th>Formtiveneeds</th>
                <td>{{ team.formtiveNeeds }}</td>
            </tr>
            <tr>
                <th>Supportteam</th>
                <td>{{ team.supportTeam }}</td>
            </tr>
            <tr>
                <th>Phrase</th>
                <td>{{ team.phrase }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('equipos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('equipos_edit', { 'id': team.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}


