{% extends 'base.html.twig' %}

{% block body %}
    <h1>Expectedresults list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Result</th>
                <th>Indicator</th>
                <th>Audience</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for expectedResult in expectedResults %}
            <tr>
                <td><a href="{{ path('resultados_show', { 'id': expectedResult.id }) }}">{{ expectedResult.id }}</a></td>
                <td>{{ expectedResult.result }}</td>
                <td>{{ expectedResult.indicator }}</td>
                <td>{{ expectedResult.audience }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('resultados_show', { 'id': expectedResult.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('resultados_edit', { 'id': expectedResult.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('resultados_new') }}">Create a new expectedResult</a>
        </li>
    </ul>
{% endblock %}
