


    <div class="form-group">
        <label for="inputEmail3" class="control-label">Público meta</label>
        {{ form_widget(form.audience, { 'attr': {'class': 'form-control no_radius'} }) }}
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="control-label">Resultado esperado</label>
        {{ form_widget(form.result, { 'attr': {'class': 'form-control no_radius'} }) }}
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="control-label">Indicador</label>
        {{ form_widget(form.indicator, { 'attr': {'class': 'form-control no_radius'} }) }}
    </div>
    <input type="submit" value="Agregar" />

