{% extends 'base.html.twig' %}

{% block body %}
    <h1>Expectedresult</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ expectedResult.id }}</td>
            </tr>
            <tr>
                <th>Result</th>
                <td>{{ expectedResult.result }}</td>
            </tr>
            <tr>
                <th>Indicator</th>
                <td>{{ expectedResult.indicator }}</td>
            </tr>
            <tr>
                <th>Audience</th>
                <td>{{ expectedResult.audience }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('resultados_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('resultados_edit', { 'id': expectedResult.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
