{% extends 'base.html.twig' %}

{% block body %}
    <h1>Objetives list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for objetive in objetives %}
            <tr>
                <td><a href="{{ path('objetivos_show', { 'id': objetive.id }) }}">{{ objetive.id }}</a></td>
                <td>{{ objetive.title }}</td>
                <td>{{ objetive.image }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('objetivos_show', { 'id': objetive.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('objetivos_edit', { 'id': objetive.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('objetivos_new') }}">Create a new objetive</a>
        </li>
    </ul>
{% endblock %}
