{% extends 'base.html.twig' %}

{% block body %}
    <h1>Objetive</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ objetive.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ objetive.title }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ objetive.image }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('objetivos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('objetivos_edit', { 'id': objetive.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
