{% block body %}
    {{ form_start(edit_form, { 'attr': {'id': 'ally_form_edit', 'action': path("aliados_editAjax", {"id": ally.id }), 'method': 'POST' } }) }}
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label text-right">Organización o empresa:</label>
        <div class="col-sm-9">
            {{ form_widget(edit_form.company, { 'attr': {'class': 'form-control no_radius'} }) }}
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label text-right">Persona de contacto:</label>
        <div class="col-sm-9">
            {{ form_widget(edit_form.personOfContact, { 'attr': {'class': 'form-control no_radius'} }) }}
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label text-right">Teléfono:</label>
        <div class="col-sm-9">
            {{ form_widget(edit_form.phone, { 'attr': {'class': 'form-control no_radius'} }) }}
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label text-right">Correo electrónico:</label>
        <div class="col-sm-9">
            {{ form_widget(edit_form.email, { 'attr': {'class': 'form-control no_radius'} }) }}
        </div>
    </div>
        
    {{ form_end(edit_form) }}
{% endblock %}
<script>
    $.fn.serializeObject = function ()
    {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };

    $("#ally_form_edit").on("submit", function (e) {
        e.preventDefault();

        // get the properties and values from the form
        data = $("#ally_form_edit").serializeObject();

        // always makes sense to signal user that something is happening
        $.ajax({
            url: $("#ally_form_edit").attr("action"),
            type: 'POST',
            dataType: 'json',
            data: data,
            success: function (data) {

                if (data.status === true) {
                    $("#md_edit_ally").modal("hide");

                    $(".ally" + data.ally.id + " .company").text(data.ally.company);
                    $(".ally" + data.ally.id + " .contact").text(data.ally.personOfContact);
                    $(".ally" + data.ally.id + " .phone").text(data.ally.phone);
                    $(".ally" + data.ally.id + " .email").text(data.ally.email);

                } else {
                    console.log("Entity submitted was invalid, use try catch and getMessage of eventual errors in you controller action, you can pass all that to the returning array you can receive and parse here ! ");
                }
            }
        });

    });
</script>