{% extends 'base.html.twig' %}

{% block body %}
    <div class="modal fade" tabindex="-1" id="md_edit_ally" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">EDITAR ALIADO</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <input type="submit" form="ally_form_edit" class="btn btn-default" value="Editar" />
                </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div><!-- /.modal -->
    <div class="modal fade" tabindex="-1" id="md_add_ally" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">AGREGAR ALIADO</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(form, { 'attr': {'id': 'ally_form_new', 'action': path("aliados_ajax_new"), 'method': 'POST' } }) }}
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label text-right">Organización o empresa:</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.company, { 'attr': {'class': 'form-control no_radius'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label text-right">Persona de contacto:</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.personOfContact, { 'attr': {'class': 'form-control no_radius'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label text-right">Teléfono:</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.phone, { 'attr': {'class': 'form-control no_radius'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label text-right">Correo electrónico:</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.email, { 'attr': {'class': 'form-control no_radius'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="guide_id" value="{{id}}">
                    </div>
                    {{ form_end(form) }}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <input type="submit" form="ally_form_new" class="btn btn-default" value="Guardar" />
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div><!-- /.modal -->
    <div class="container">

        <div class="col-lg-4 menu-izq-guide">
            <ol>
                <li class="check-guide">Información general</li>
                <li class="check-guide">Conformación del equipo</li>
                <li class="check-guide">Preparando el terreno</li>
                <li class="check-guide">Públicos meta</li>
                {# <li>Aliados</li> #}
                {# {{ app.request.attributes.get('_route') }}  #}
                <li class="{% if app.request.attributes.get('_route') == 'aliados_index' %}active{% endif %}">Aliados</li>
                <li>Nuestro programa</li>
                <li>Finalizar</li>
            </ol>
        </div>
        <div class="col-lg-8">
            <h2 class="title-blue-guide">5. Aliados</h2>

            <div class="obj-guide-box">
                <div class="obj-guide">
                    <div class="col-md-3 icon">
                        <img src="{{ asset('bundles/oit/images/ico-objetivos.svg') }}">
                        <p>Objetivo</p>
                    </div>
                    <div class="col-md-9 text">
                        <p>
                            Facilitar contactos de las instituciones públicas, privadas, organizaciones sociales y otros actores de cooperación que trabajan en VIH en cada uno de los departamentos donde se encuentran los ingenios y organizaciones de apoyo de ASAZGUA.
                        </p>
                    </div>
                </div>
            </div>

           

          

            <h3 class="title-datos">Lista de aliados</h3>
            <p>Complete la información de contacto para cada organización o empresa aliada. Puede agregar todas las que necesite.</p>
            <br>

            <table id="allies_guide" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Aliado</th>
                        <th>Persona de contacto</th>
                        <th>Teléfono</th>
                        <th>Correo electrónico</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ally in allies %}
                        <tr class="ally{{ally.id}}">
                            <td><a href="#" data-id="{{ ally.id }}" class="edit_link company">{{ ally.company }}</a></td>
                            <td class="contact">{{ ally.personOfContact }}</td>
                            <td class="phone">{{ ally.phone }}</td>
                            <td class="email">{{ ally.email }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="button" class="btn btn-new" data-toggle="modal" data-target="#md_add_ally">Agregar aliado +</button>
            <hr>
            <div class="direction_btns">
                <div class="col-lg-4">
                <a class="btn-back" href="{{path('publicos-meta_index', {"id": id})}}">< REGRESAR</a>
                </div>
                <div class="col-lg-4">
                <a class="btn-continue" href="{{path('lineas-estrategicas_index', {"id": id})}}">CONTINUAR > </a>
                </div>
                <div class="col-lg-4">
                <a class="btn-save_exit" href="{{path('index')}}">CONTINUAR DÉSPUES > </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(".edit_link").on("click", function (e) {
            e.preventDefault();
            editAlly($(this));
        });

        function editAlly(xthis) {
            $.ajax({
                url: '/aliados/' + xthis.data("id") + '/edit',
                type: 'POST',
                dataType: 'json',
                data: {
                    id: xthis.data("id")
                },
                success: function (data) {
                    $("#md_edit_ally .modal-body").html("");
                    $("#md_edit_ally .modal-body").append(data.html);
                    $("#md_edit_ally").modal("show");
                }
            });
        }

        $.fn.serializeObject = function ()
        {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        $("#ally_form_new").on("submit", function (e) {
            e.preventDefault();

            // get the properties and values from the form
            data = $("#ally_form_new").serializeObject();

            // always makes sense to signal user that something is happening
            $.ajax({
                url: '{{path("aliados_ajax_new")}}',
                type: 'POST',
                dataType: 'json',
                data: data,
                success: function (data) {
                    $('#loadingSpinner').hide();
                    $('#mySubmitButton').show();

                    if (data.status === true) {
                        $("#md_add_ally").modal("hide");
                        $("#allies_guide tbody").append("<tr><td><a href='#' data-id='" + data.ally.id + "' class='edit_link company'>" + data.ally.company + "</a></td><td class='contact'>" + data.ally.personOfContact + "</td><td class='phone'>" + data.ally.phone + "</td><td class='email'>" + data.ally.email + "</td></tr>");
                        $(".edit_link").unbind("click");
                        $(".edit_link").on("click", function (e) {
                            e.preventDefault();
                            editAlly($(this));
                        });
                    } else {
                        console.log("Entity submitted was invalid, use try catch and getMessage of eventual errors in you controller action, you can pass all that to the returning array you can receive and parse here ! ");
                    }
                }
            });

        });
    </script>
{% endblock %}