{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ally</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ally.id }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ ally.company }}</td>
            </tr>
            <tr>
                <th>Personofcontact</th>
                <td>{{ ally.personOfContact }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ ally.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ ally.email }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('aliados_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('aliados_edit', { 'id': ally.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
