{# empty Twig template #}
<style>
    h2{ text-transform: uppercase; font-size: 20px; border-bottom: 1px solid #000; margin-top: 25px;}

    table, figure {
        font-size: 15px;
        width:100%;
        border-spacing:0; /* Removes the cell spacing via CSS */
        border-right: 1px solid #000;
        border-top: 1px solid #000;
        margin-bottom: 20px; 
    }
    
    .bordered{
        border: 1px solid #000;
        padding: 10px;
        margin-bottom: 10px;
    }
    table td, table th {
        border-bottom: 1px solid #000;
        border-left: 1px solid #000;
        padding: 8px 12px;
    }

    table th {text-transform: uppercase;}

    ul li{margin-bottom: 6px;}

    .text-center{
        text-align: center;
    }

    .header h1{text-align: center; font-weight: bold; text-transform: uppercase; margin: 0px; font-size: 19px}
    .header span{ font-weight: normal; font-size: 13px; text-align: center; display: block;}
    .header h2{text-align: center; font-weight: bold; margin: 0px; font-size: 17px}
    .header h3{text-align: center; font-weight: normal; margin: 0px; font-size: 14px}
    .header p{text-align: center; margin: 0px; width: 280px; margin: auto;}

    @page { 

        size: a4 portrait;
        padding: 4mm 2mm 7mm 2mm;
        margin: 7mm; 

        @bottom-right {
            content: counter(page) " de " counter(pages);
            font-style: bold;
        }
    }
</style>
<div class="section header">
    <h1 class="text-center">Reporte de Programa de VIH.</h1>
    <p class="text-center">Periodo: {{ implementationGuide.startDate|localizeddate('none', 'none', 'es_CR', null, "MMMM Y")|capitalize }} - {{ implementationGuide.endDate|localizeddate('none', 'none', 'es_CR', null, "MMMM Y")|capitalize }}</p>
    <p class="text-center">Creado por: {{ implementationGuide.personInCharge|default("sin dato") }}</p>
    <p class="text-center">{{"now"|date("d/m/Y  - g:i a")}} </p>
</div>    
<div class="section">
    <h2>Equipos</h2>
    {% for team in teams %}
        <div class="team{{team.id}}">
            <h3 class="name">{{ team.fullName }}</h3>
            <p class="job"><strong>Puesto: </strong>{{ jobs[team.job] }}</p>
            <p class="phone"><strong>Teléfono: </strong>{{ team.phone }}</p>
            <p class="email"><strong>Correo electrónico: </strong>{{ team.email }}</p>
            <p class="skype"><strong>Skype: </strong>{{ team.skype }}</p>
            <p class="experienceInHIV"><strong>Experiencia en VIH: </strong><br>{{ team.experienceInHIV }}</p>
            <p class="formtiveNeeds"><strong>Necesidades formativas en VIH: </strong><br>{{ team.formtiveNeeds }}</p>
            <p class="supportTeam"><strong>Equipo de apoyo: </strong><br>{{ team.supportTeam }}</p>
            <p class="phrase"><strong>Cita que definirá mi trabajo en VIH: </strong><br>{{ team.phrase }}</p>
            <p class="objetives"><strong>Objetivos: </strong></p>
            <ul>
                {% for objetive in team.objetives %}
                    <li>{{objetive}}</li> 
                    {% endfor %}
            </ul>    
            <p class="principles"><strong>Principios: </strong></p>
            <ul>
                {% for principle in team.principles %}
                    <li>{{principle}}</li> 
                    {% endfor %}
            </ul>
            <p class="tasks"><strong>Tareas: </strong></p>
            <ul>
                {% for task in team.tasks %}
                    <li>{{task}}</li> 
                    {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
<div class="section">
    <h2>Preparando el terreno</h2>
    <h3>Fortalezas existentes</h3>    
    <ul>
        {% for improvementPoint in improvementPoints %}
            {% if improvementPoint.answer == '1' %}
                <li>{{improvementPoint.improvement.description}}</li>
                {% endif %}
            {% endfor %}
    </ul>
    <h3>Oportunidades de Mejora</h3>    
    <ul>
        {% set count = 0 %}
        {% for improvementPoint in improvementPoints %}
            {% if improvementPoint.answer == '0' %}
                <li>{{improvementPoint.improvement.improvement}}</li>
                    {% set count = count + 1 %}
                {% endif %}
            {% endfor %}
    </ul>
    {% if count|length == 0 %}
        <p>No hay oportunidades de mejora</p>
    {% endif %}
</div>
<div class="section">
    <h2>Públicos meta</h2>
    {% for targetAudience in targetAudiences %}
        <div class="target{{targetAudience.id}}">
            <table id="allies_guide" class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="4">{{ targetAudience.audience }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="job">Tarea y sector</td>
                        <td class="job">{{ targetAudience.sector|default('-') }}</td>
                    </tr>
                    <tr>
                        <td class="mens">Número de hombres</td>
                        <td class="mens">{{ targetAudience.numberOfMens|default('-') }}</td>
                    </tr>
                    <tr>
                        <td class="mens">Número de mujeres</td>
                        <td class="mens">{{ targetAudience.numberOfWomens|default('-') }}</td>
                    </tr>
                    <tr>
                        <td class="mens">Total de personas</td>
                        <td class="mens">{% if targetAudience.numberOfMens is not null %}{{ (targetAudience.numberOfMens + targetAudience.numberOfWomens)|default('-')}}{%else%}-{%endif%}</td>
                    </tr>
                    <tr>
                        <td class="mens">Edades</td>
                        <td class="mens">{% if targetAudience.minAgeRange is not null %}{{ targetAudience.minAgeRange ~ " a " ~ targetAudience.maxAgeRange }}{%else%}-{%endif%}</td>
                    </tr>
                    <tr>
                        <td class="mens">Perfil (nivel educativo, procedencia, idioma)</td>
                        <td class="mens">{{ targetAudience.profile|default('-') }}</td>
                    </tr>
                    <tr>
                        <td class="mens">Técnicas de comunicación más efectivas</td>
                        <td class="mens">{{ targetAudience.communicationSkills|default('-') }}</td>
                    </tr>
                    <tr>
                        <td class="mens">Nivel de riesgo respecto al VIH</td>
                        <td class="mens">{{ levels[targetAudience.vIHRiskLevel]|default('-') }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endfor %}
</div>
<div class="section">
    <h2>Aliados</h2>
    <table id="allies_guide" class="table table-bordered">
        <thead>
            <tr>
                <th>Aliado</th>
                <th>Persona de contacto</th>
                <th>Teléfono</th>
                <th>Correo electrónico</th>
            </tr>
        </thead>
        <tbody>
            {% for ally in allies %}
                <tr class="ally{{ally.id}}">
                    <td>{{ ally.company }}</td>
                    <td class="contact">{{ ally.personOfContact }}</td>
                    <td class="phone">{{ ally.phone }}</td>
                    <td class="email">{{ ally.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="section">
    <h2>Nuestro programa</h2>
    <h3>Objetivo 1</h3>
    {% for strategicLine in strategicLines1 %}
        <div class="strategicLine{{strategicLine.id}}" >
            <p class="line"><strong>Línea estratégica: </strong> {{ strategicLine.line.description }}</p>
            <p class="action"><strong>Acción: </strong> {{ strategicLine.action.description }}</p>
            <p class="action"><strong>Actividades: </strong></p>
            <ul>
                {% for activitiy in strategicLine.activities %}
                    <li>{{activitiy}}</li> 
                    {% endfor %}
            </ul> 
            <h3>Resultados esperados por públicos meta</h3>
            {% for result in strategicLine.results %}
                <div class="bordered">
                    <p class="action"><strong>Público meta: </strong><br>{{audiences[result.audience]}}</p>
                    <p class="action"><strong>Resultado esperado: </strong><br>{{result.result}}</p>
                    <p class="action"><strong>Indicador: </strong><br>{{result.indicator}}</p>
                </div>
            {% endfor %}
            <p class="action"><strong>Periodo: </strong>{{ strategicLine.startDate|localizeddate('none', 'none', 'es_CR', null, "MMMM Y")|capitalize }} - {{ strategicLine.endDate|localizeddate('none', 'none', 'es_CR', null, "MMMM Y")|capitalize }}</p>
            <p class="action"><strong>Fuentes de veriﬁcación: </strong><br>{{ strategicLine.verificationSources }}</p>
            <p class="action"><strong>Medios: </strong><br>{{ strategicLine.media }}</p>
            <p class="action"><strong>Presupuesto: </strong><br>{{ strategicLine.budget }}</p>
            <p class="action"><strong>Aliados: </strong></p>
            <ul>
                {% for ally in strategicLine.allies %}
                    <li>{{ally}}</li> 
                    {% endfor %}
            </ul> 
        </div>
    {% endfor %}
    <h3>Objetivo 2</h3>
    {% for strategicLine in strategicLines2 %}
        <div class="strategicLine{{strategicLine.id}}" >
            <p class="line"><strong>Línea estratégica: </strong> {{ strategicLine.line.description }}</p>
            <p class="action"><strong>Acción: </strong> {{ strategicLine.action.description }}</p>
            <p class="action"><strong>Actividades: </strong></p>
            <ul>
                {% for activitiy in strategicLine.activities %}
                    <li>{{activitiy}}</li> 
                    {% endfor %}
            </ul> 
            <h3>Resultados esperados por públicos meta</h3>
            {% for result in strategicLine.results %}
                <div class="bordered">
                    <p class="action"><strong>Público meta: </strong><br>{{audiences[result.audience]}}</p>
                    <p class="action"><strong>Resultado esperado: </strong><br>{{result.result}}</p>
                    <p class="action"><strong>Indicador: </strong><br>{{result.indicator}}</p>
                </div>
            {% endfor %}

            <p class="action"><strong>Periodo: </strong>{{ strategicLine.startDate|localizeddate('none', 'none', 'es_CR', null, "MMMM Y")|capitalize }} - {{ strategicLine.endDate|localizeddate('none', 'none', 'es_CR', null, "MMMM Y")|capitalize }}</p>
            <p class="action"><strong>Fuentes de veriﬁcación: </strong><br>{{ strategicLine.verificationSources }}</p>
            <p class="action"><strong>Medios: </strong><br>{{ strategicLine.media }}</p>
            <p class="action"><strong>Presupuesto: </strong><br>{{ strategicLine.budget }}</p>
            <p class="action"><strong>Aliados: </strong></p>
            <ul>
                {% for ally in strategicLine.allies %}
                    <li>{{ally}}</li> 
                    {% endfor %}
            </ul> 
        </div>
    {% endfor %}
    <h3>Objetivo 3</h3>
    {% for strategicLine in strategicLines3 %}
        <div class="strategicLine{{strategicLine.id}}" >
            <p class="line"><strong>Línea estratégica: </strong> {{ strategicLine.line.description }}</p>
            <p class="action"><strong>Acción: </strong> {{ strategicLine.action.description }}</p>
            <p class="action"><strong>Actividades: </strong></p>
            <ul>
                {% for activitiy in strategicLine.activities %}
                    <li>{{activitiy}}</li> 
                    {% endfor %}
            </ul> 
            <h3>Resultados esperados por públicos meta</h3>
            {% for result in strategicLine.results %}
                <div class="bordered">
                    <p class="action"><strong>Público meta: </strong><br>{{audiences[result.audience]}}</p>
                    <p class="action"><strong>Resultado esperado: </strong><br>{{result.result}}</p>
                    <p class="action"><strong>Indicador: </strong><br>{{result.indicator}}</p>
                </div>
            {% endfor %}
            <p class="action"><strong>Periodo: </strong>{{ strategicLine.startDate|localizeddate('none', 'none', 'es_CR', null, "MMMM Y")|capitalize }} - {{ strategicLine.endDate|localizeddate('none', 'none', 'es_CR', null, "MMMM Y")|capitalize }}</p>
            <p class="action"><strong>Fuentes de veriﬁcación: </strong><br>{{ strategicLine.verificationSources }}</p>
            <p class="action"><strong>Medios: </strong><br>{{ strategicLine.media }}</p>
            <p class="action"><strong>Presupuesto: </strong><br>{{ strategicLine.budget }}</p>
            <p class="action"><strong>Aliados: </strong></p>
            <ul>
                {% for ally in strategicLine.allies %}
                    <li>{{ally}}</li> 
                    {% endfor %}
            </ul> 
        </div>
    {% endfor %}
    <h3>Objetivo 4</h3>
    {% for strategicLine in strategicLines4 %}
        <div class="strategicLine{{strategicLine.id}}" >
            <p class="line"><strong>Línea estratégica: </strong> {{ strategicLine.line.description }}</p>
            <p class="action"><strong>Acción: </strong> {{ strategicLine.action.description }}</p>
            <p class="action"><strong>Actividades: </strong></p>
            <ul>
                {% for activitiy in strategicLine.activities %}
                    <li>{{activitiy}}</li> 
                    {% endfor %}
            </ul> 
            <h3>Resultados esperados por públicos meta</h3>
            {% for result in strategicLine.results %}
                <div class="bordered">
                    <p class="action"><strong>Público meta: </strong><br>{{audiences[result.audience]}}</p>
                    <p class="action"><strong>Resultado esperado: </strong><br>{{result.result}}</p>
                    <p class="action"><strong>Indicador: </strong><br>{{result.indicator}}</p>
                </div>
            {% endfor %}
            <p class="action"><strong>Periodo: </strong>{{ strategicLine.startDate|localizeddate('none', 'none', 'es_CR', null, "MMMM Y")|capitalize }} - {{ strategicLine.endDate|localizeddate('none', 'none', 'es_CR', null, "MMMM Y")|capitalize }}</p>
            <p class="action"><strong>Fuentes de veriﬁcación: </strong><br>{{ strategicLine.verificationSources }}</p>
            <p class="action"><strong>Medios: </strong><br>{{ strategicLine.media }}</p>
            <p class="action"><strong>Presupuesto: </strong><br>{{ strategicLine.budget }}</p>
            <p class="action"><strong>Aliados: </strong></p>
            <ul>
                {% for ally in strategicLine.allies %}
                    <li>{{ally}}</li> 
                    {% endfor %}
            </ul> 
        </div>
    {% endfor %}
    <h3>Objetivo 5</h3>
    {% for strategicLine in strategicLines5 %}
        <div class="strategicLine{{strategicLine.id}}" >
            <p class="line"><strong>Línea estratégica: </strong> {{ strategicLine.line.description }}</p>
            <p class="action"><strong>Acción: </strong> {{ strategicLine.action.description }}</p>
            <p class="action"><strong>Actividades: </strong></p>
            <ul>
                {% for activitiy in strategicLine.activities %}
                    <li>{{activitiy}}</li> 
                    {% endfor %}
            </ul> 
            <h3>Resultados esperados por públicos meta</h3>
            {% for result in strategicLine.results %}
                <div class="bordered">
                    <p class="action"><strong>Público meta: </strong><br>{{audiences[result.audience]}}</p>
                    <p class="action"><strong>Resultado esperado: </strong><br>{{result.result}}</p>
                    <p class="action"><strong>Indicador: </strong><br>{{result.indicator}}</p>
                </div>
            {% endfor %}
            <p class="action"><strong>Periodo: </strong>{{ strategicLine.startDate|localizeddate('none', 'none', 'es_CR', null, "MMMM Y")|capitalize }} - {{ strategicLine.endDate|localizeddate('none', 'none', 'es_CR', null, "MMMM Y")|capitalize }}</p>
            <p class="action"><strong>Fuentes de veriﬁcación: </strong><br>{{ strategicLine.verificationSources }}</p>
            <p class="action"><strong>Medios: </strong><br>{{ strategicLine.media }}</p>
            <p class="action"><strong>Presupuesto: </strong><br>{{ strategicLine.budget }}</p>
            <p class="action"><strong>Aliados: </strong></p>
            <ul>
                {% for ally in strategicLine.allies %}
                    <li>{{ally}}</li> 
                    {% endfor %}
            </ul> 
        </div>
    {% endfor %}
</div>
